@charset "UTF-8";
/* CSS Document */

/* logo home with h1 */
#logo_home h1{
	margin:10px 0 0 0;
	padding:0;
}
#logo_home h1 a, header.sticky #logo_home h1 a, header#plain #logo_home h1 a, header#colored #logo_home h1 a{
	width:200px;
	height:80px;
	display:block;
	background-image:url(../img/logo_myrealkorea_main1.png);
	background-repeat:no-repeat;
	background-position:left top;
	background-size: 200px 80px;
	text-indent:-9999px;
}
header.sticky #logo_home h1{
	margin:0 0 10px 0;
	padding:0;
}
header.sticky #logo_home h1 a{
	background-image:url(../img/logo_myrealkorea_main2.png);
}
header#plain #logo_home h1 a{
	background-image:url(../img/logo_myrealkorea_main2.png);
}
header.sticky#colored #logo_home h1 a{
	background-image:url(../img/logo_sticky_colored.png);
}
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
#logo_home h1 a, header#colored #logo_home h1 a{
    background-image: url(../img/logo_2x.png);
	background-size: 160px 34px;
}
header.sticky #logo_home h1 a, header#plain #logo_home h1 a{
    background-image: url(../img/logo_sticky_2x.png);
	background-size: 160px 34px;
}
header.sticky#colored #logo_home h1 a{
    background-image: url(../img/logo_sticky_colored_2x.png);
	background-size: 160px 34px;
}
}

.intro_title.error h1 {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
}

#notice-list-main, #wishlist-main {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline: none;
}
#notice-list-main:hover {
	color: #e14d67;
}
#wishlist-main:hover {
	color: #e14d67;
}

.banner_2 .wrapper h3 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
}

.banner_2 .wrapper p {
    font-size: 30px;
    font-weight: 300;
}

#boardlist {
	 border: solid 1px; 
	 width: 100%;
	 background-color: #FFFFFF;
	 border-color: #FFFFFF;
}

#boardlist_tr1 td{
	 background-color: #e14d67;
	 border-color: #FFFFFF;
	 color: white;
}

#boardlist_tr2 td{
	 background-color: #FFFFFF;
	 border-color: #FFFFFF;
}

#boardlist_tr2 a {
    color: #555;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline: none;
}

#boardlist_tr2 a:hover {
    color: #e14d67;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline: none;
}

#wishlist-detail-btn p{
    margin-bottom: 30px;
}

#wishlist-all-delete{
	margin-bottom: 30px;
	margin-left: 50px;
}

#notice-list-items {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

#notice-list-item {
    position: relative;
    padding: 0 20px 3px 20px;
}


.items-sorting select {
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 0 10px;
    height: 34px;
    font-size: 13px;
    border: 1px solid #ededed;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: url(../img/icon-select.png) right center no-repeat;
    color: #999999;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    outline: none;
}

.items-sorting .form-group {
    margin-bottom: 10px;
    width: 130px;
    float: right;
}
