.form-group label{
  font-size: 11pt;
}

#btn-user-login.btn_1.outline {
  width: 100%;
}
#btn-user-join.btn_1.white {
  width: 100%;
  border: thin black;
}

#btn-user-find-id.btn_1.outline {
  width: 100%;
}

#btn-user-find-pw.btn_1.outline {
  width: 100%;
}

#btn-user-auth.btn_1.outline {
  width: 100%;
}

.terms-content {
  height: 70px; /* 박스의 높이를 설정합니다. */
  overflow-y: scroll; /* 세로 스크롤이 생기도록 합니다. */
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



