<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>CITY TOURS - City tours and travel site template by Ansonika</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,700" rel="stylesheet">

    <!-- COMMON CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">
	
	<!-- SPECIFIC CSS -->
	<link href="css/shop.css" rel="stylesheet">
	
	<!-- CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">

<!-- Handlebars -->
<script  defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>

</head>

<body>


	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div>
	<!-- End Preload -->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!--======================== Header========================== -->
	<div id="header" th:include="include-common-top::include-common-top"></div>
	<!--======================== End Header======================== -->
	<!-- End Header -->

	<section class="parallax-window" data-parallax="scroll" data-image-src="img/main_freeboard.jpg" data-natural-width="1400" >
		<div class="parallax-content-1">
			<div class="animated fadeInDown">
				<h1><a id="freeboard-list-main" href="freeboard-list">자유게시판</a></h1>
				<p>마이리얼코리아의 게시판을 확인해보세요.</p>
			</div>
		</div>
	</section>
	<!-- End Section -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">Home</a>
					</li>
					<li><a href="#">Category</a>
					</li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- End Position -->



		<div class="container margin_60">
			<div class="row">
	
				<div class="col-lg-9">
				<div class="shop-section" >

						<div class="items-sorting">
							<div class="row">
								<div class="col-6">
									<div id="page-info" class="results_shop" th:each="freeBoardList:${freeBoardListPage}">
										<span id="cur-page" th:text="${freeBoardList.pageMaker.pageBegin}"></span> -
										<span id="page-end" th:if="${freeBoardList.totRecordCount} &gt; ${freeBoardList.pageMaker.pageEnd}" th:text="${freeBoardList.pageMaker.pageEnd}"></span>
										<span id="tot-record-count"  th:unless="${freeBoardList.totRecordCount} &gt; ${freeBoardList.pageMaker.pageEnd}" th:text="${freeBoardList.totRecordCount}"></span>
										       | 전체 건수: <span id="tot-record-count"   th:text="${freeBoardList.totRecordCount}"></span>
										<br>
										
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<select id="sort" name="sort" onchange="if(this.value) location.href=(this.value);">
											<option value="">정렬</option>
											<option value="freeboard-list-fBoNo-desc" >최신순</option>
											<option value="freeboard-list-fBoNo-asc">오래된순</option>
											<option value="freeboard-list-readCount-desc">조회수높은순</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				
						<!--End Sort By-->

							<hr>

						<div class="row" id="freeboard-list" >
					<div class="shop-item col-lg-12 col-md-6 col-sm-6" >
						<form name='boardlistform' method='POST' action='' style="color:grey; width:flex;">
							<table id='boardlist'  cellpadding='5px' cellspacing='1' >
								<tr id='boardlist_tr1'>
									<td width=200 align=center >제 목</td>
									<td width=60 align=center >조회수</td>
									<td width=80 align=center>작성일</td>
									<td width=60 align=center >작성자</td>
								</tr>
								
								<tr id="boardlist_tr2"   th:each="freeBoard:${freeBoardList}">
									<td width=280  style='padding-left: 10px;' align='left' >
										<a id="title" th:href="@{freeboard-detail(fBoNo=${freeBoard.fBoNo})}"  th:text="${freeBoard.fBoTitle}" ></a>
										<span class="icon-comment"></span>
										<span th:text="   ${freeBoard.commentCount}"></span> 
										<span class="icon-map"></span>
										<span th:text="   ${freeBoard.getCity().cityName}"></span>
									</td>
									<td width=70 th:text="${freeBoard.fBoCount}"></td>
									<td width=120  th:text="${#dates.format(freeBoard.fBoDate, 'yyyy.MM.dd')}"></td>
									<td width=120  th:text="${freeBoard.userId}"></td>
								

								</tr>
								
							</table>
		</form>
						<div class="Page navigation">
						<nav aria-label="Page navigation">
							<base url='http://final-project-team2-my-real-korea/'/>
							<ul class="pagination justify-content-center" th:each="freeBoardList:${freeBoardListPage}" >
							
								<li class="page-item" >
									<a class="page-link"  th:href="'?pageNo='+${freeBoardList.pageMaker.prevPage}" aria-label="Previous">
										<span aria-hidden="true" >&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item active" th:if="${freeBoardList.pageMaker.curPage==1}"><a class="page-link" th:href="'?pageNo=1'">1</a>
								</li>
								<li class="page-item" th:if="${freeBoardList.pageMaker.curPage!=1}"><a class="page-link"   th:href="'?pageNo=1'">1</a>
								</li>
								<li class="page-item" ><a class="page-link"   >...</a>
								</li>
								<li class="page-item active" ><a class="page-link" th:if="${freeBoardList.pageMaker.curPage}!=1 and ${freeBoardList.pageMaker.curPage}!=${freeBoardList.pageMaker.totPage}" th:href="?pageNo='+${freeBoardList.pageMaker.curPage}" th:text="${freeBoardList.pageMaker.curPage}"></a>
								</li>
								<li class="page-item" ><a class="page-link"   >...</a>
								</li>
								<li class="page-item active" ><a class="page-link" th:if="${freeBoardList.pageMaker.curPage}==${freeBoardList.pageMaker.totPage}" th:href="'?pageNo='+${freeBoardList.pageMaker.totPage}" th:text="${freeBoardList.pageMaker.totPage}"></a>
								</li>
								<li class="page-item" ><a class="page-link" th:if="${freeBoardList.pageMaker.curPage}!=${freeBoardList.pageMaker.totPage}" th:href="'?pageNo='+${freeBoardList.pageMaker.totPage}" th:text="${freeBoardList.pageMaker.totPage}"></a>
								</li>
								<li class="page-item">
									<a class="page-link" th:href="'?pageNo='+${freeBoardList.pageMaker.nextPage}" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>
						</div>
				
						</div>
						
						<!-- end pagination-->
		
						</div>
					
		</div>
			<div class="col-lg-3" style="float:right; margin-top:0px">
					<aside class="sidebar" >
						<div class="widget">
							<div class="input-group">
								<input id="freeboard-search-keyword" type="text" class="form-control" placeholder="지역명 - 개수검색...서울,부산,대전" >
								<span  class="input-group-btn" >
		                        <button id="freeboard-search-btn" class="btn btn-default" type="button" style="margin-left:0;" ><i class="icon-search"></i></button>
		                        </span>
							</div>
						</div>
												<hr>
						<!-- End Search -->
				
							<!--Sidebar-->
						<div class="widget " id="cat_shop">
							<h4>Categories</h4>
							<ul >
								<li><a th:each="freeBoard:${freeBoardList}" th:href="@{freeBoard-search(keyword=${freeBoard.getCity().cityName})}" th:text="${freeBoard.getCity().cityName}" >test</a>
								<hr>
									<a class="btn_1" style="color:white;  text-align:center" href="fBoWrite" role="button">자유게시판 글쓰기</a>
						</li>
							
							</ul>
						</div>
						<!-- End widget -->
								</aside>
				</div>
										
						</div>
																					<!--Sidebar-->
				
						
		</div>
		<!-- End row -->


				<!-- End col -->
	
	
							
						

		<!-- End Container -->
	</main>
	<!-- End main -->
	<!--========================= footer ========================-->
	<footer class="revealed">
		<div id="footer" th:include="include-common-bottom::include-common-bottom"></div>
	</footer>
		<!-- End container -->
	<!--========================= End footer ========================-->

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	
	<!-- ##################### template ###################### -->
	<!-- <script> 태그에 코드 적으면 화면에 안 보임 -->
	<!-- freeboard-search-list-template -->
	
	<script id="freeboard-search-list-template" type="text/x-handlebars-template" >
						<div class="row" style='color:grey; flex:auto; margin:10px'>
							<table id='boardlist'  cellpadding='5px' cellspacing='1px' style='flex:auto; '>
								<tr >
									<td   width='100'; align='center'>제 목</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
									<td   width=10 align=center>조회수</td>
									<td   width=30 align=center>작성일</td>
									<td   align=center>작성자</td>
								</tr>
								<tr> 
{{#each data.itemList}}
								   <td  width=180> <a style='color:'grey'; align:'center'; ' href=freeboard-detail?fBoNo={{fboNo}}>{{fboTitle}}></a></td>
										<td  width=5 class="icon-comment"></td>
										<td width=10> {{commentCount}}</td> 
										<td width=5 class="icon-map"></td>
										<td width=100> {{city.cityName}}</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
									<td  width=50>{{fboCount}}</td>
									<td  width=100>{{dateFormat fboDate}}</td>
									<td  width=50>{{userId}}</td>
									</li><br>
								</tr>
<br>

{{/each}}
								
</table><br>
</div>
	</script>

	<!-- Common scripts -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/app.js" type="module"></script>
	<script src="js/app_freeboard.js" type="module"></script>
<form name="form-name" id="form-qna" method="post" onsubmit="return false;">
	
</form>
</body>

</html>
