<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:th-temporals="http://www.thymeleaf.org/extras/temporals">
<!-- Start section 2 -->
					<section th:fragment="section-2">
							<div id="tools">
							<div class="row">
								<div class="col-lg-2 col-md-3 col-6">
									<div class="styled-select-filters">
										<select name="sort_type" id="sort_type">
											<option value="" selected>전체예약</option>
											<option value="tours">투어</option>
											<option value="hotels">티켓</option>
											
										</select>
									</div>
								</div>
								<div class="col-lg-2 col-md-3 col-6">
									<div class="styled-select-filters">
										<select name="sort_date" id="sort_date">
											<option value="" selected>정렬</option>
											<option value="oldest">오래된순</option>
											<option value="recent">최신순</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<!--/tools -->
						
						<div class="strip_booking"  th:each="payment:${paymentList}">
							<div class="row" th:id="|paymentD+${payment.pNo}|">
								<div class="col-lg-2 col-md-2">
									<div class="date">
										<span class="month" th:text="${#dates.format(payment.pStartDate,'yyyy년 MMM')}">Dec</span>
										<span class="day">
											<strong th:text="${#dates.format(payment.pStartDate,'dd')}">27</strong>
											<th:block th:text="${#dates.format(payment.pStartDate,'EEE')}">Fri</th:block>
										</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-5">
									<h3 class="tours_booking" th:if="${payment.Ticket != null}">
										 <th:block th:text="${payment.Ticket.tiTitle}"></th:block>
										<span th:text="${payment.pQty}">2 Adults / 2 Childs</span>
									</h3>
									<h3 class="tours_booking" th:if="${payment.Tour != null}">
										 <th:block th:text="${payment.Tour.toName}"></th:block>
										<span style="font-size:30px;" th:text="${payment.pMsg}">2 Adults / 2 Childs</span>
									</h3>
								</div>
								<div class="col-lg-2 col-md-3">
									<ul class="info_booking">
										<li>
											<strong>Booking id</strong> 
											<span th:text="${#dates.format(payment.pDate, 'yyyyMMdd')+''+payment.pNo}">23442</span>
										</li>
										<li>
											<strong>Booked on</strong> 
											<span th:text="${#dates.format(payment.pStartDate,'yyyy MM dd . EEE')}">Sat. 20 Dec. 2015</span>
										</li>
									</ul>
								</div>
								<div class="col-lg-2 col-md-2">
								<form name="paymentF">
									<div class="booking_buttons">
										<button th:value="${payment.pNo}" th:onclick="|location.href='payment-detail?pNo=${payment.pNo}'|" class="btn_2">상세보기</button>
										<button th:value="${payment.pNo}" name="deletePayement" class="btn_3">취소하기</button>
									</div>
								</form>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- End strip booking -->
					</section>
<!-- End section 2 -->
<!-- Start section 3 -->
					<section th:fragment="section-3">
							<h3> 동행찾기 </h3>
							<br>
						
						<div class="strip_booking" th:each="tripBoard:${tripBoardList}">
							<div class="row">
								<div class="col-lg-2 col-md-2">
									<div class="date">
										<span class="month" th:text="${#dates.format(tripBoard.tBoDate,'MMM')}">Dec</span>
										<span class="day">
											<strong th:text="${#dates.format(tripBoard.tBoDate,'dd')}" style="padding-bottom:10px">27</strong>
											<th:block th:text="${#dates.format(tripBoard.tBoDate,'EEE')}">Fri</th:block>
										</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-5">
									<h3 class="tours_booking" th:if = "${tripBoard.userId != null}" style="font-weight:bold; line-height:0px; font-size:21px;">
										 <th:block th:text="${tripBoard.tBoTitle}"></th:block>
									</h3>
									<h3 th:if = "${tripBoard.userId != null}" style="font-size:15px;">
										 <th:block th:text="${tripBoard.tBoContent}"></th:block>
									</h3>
								</div>
									
								<div class="col-lg-2 col-md-3">
									
									
									<ul class="info_booking" style="font-size:13px;">
											
										<li>
											<strong style="margin-bottom:3px;">여행시작일</strong>
											<span th:text="${#dates.format(tripBoard.tBoStartDate, 'yyyy-MM-dd')}">23442</span>
										</li>
										<li>
											<strong style="margin-bottom:3px;">여행종료일</strong>
											<span th:text="${#dates.format(tripBoard.tBoEndDate, 'yyyy-MM-dd')}">23442</span>
										</li>
											
									</ul>
								</div>
								<div class="col-lg-2 col-md-2">
								<form>
									<div class="booking_buttons" style="margin-top:30px;">
										<a class="btn_2" th:href="@{tripboard-detail(tBoNo=${tripBoard.tBoNo})}" role="button">보러가기
										</a>
									</div>
									</form>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- End strip booking -->
						<br>
						<hr>
						<br>
						
						<h3> 자유게시판 </h3>
						<br>
						<div class="strip_booking" th:each="freeBoard:${freeBoardList}">
							<div class="row">
								<div class="col-lg-2 col-md-2">
									<div class="date">
										<span class="month" th:text="${#dates.format(freeBoard.fBoDate,'MMM')}">Dec</span>
										<span class="day">
											<strong th:text="${#dates.format(freeBoard.fBoDate,'dd')}" style="padding-bottom:10px">27</strong>
											<th:block th:text="${#dates.format(freeBoard.fBoDate,'EEE')}">Fri</th:block>
										</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-5">
									<h3 class="tours_booking" th:if = "${freeBoard.userId != null}" style="font-weight:bold; line-height:0px; font-size:21px;">
										<th:block th:text="${freeBoard.fBoTitle}"></th:block>
									</h3>
									<h3 th:if = "${freeBoard.userId != null}" style="font-size:15px;">
										<th:block th:text="${freeBoard.fBoContent}"></th:block>
									</h3>
								</div>
								<div class="col-lg-2 col-md-3">

								</div>
								<div class="col-lg-2 col-md-2">
									<div class="booking_buttons">
										<a th:href="@{freeboard-detail(fBoNo=${freeBoard.fBoNo})}" class="btn_2">보러가기</a>
									</div>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- End strip booking -->	
						
								
					</section>
<!-- End section 3 -->
<!-- Start section 4 -->
					<section th:fragment="section-4">
					<h3> 투어 </h3>
					<br>
						
						<div class="strip_booking">
							<div class="row">
								<div class="col-lg-2 col-md-2">
									<div class="date">
										<span class="month">Dec</span>
										<span class="day"><strong>27</strong>Fri</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-5">
									<h3 class="tours_booking"> 리뷰 쓴 글의 제목 <span> 내가 쓴 글 내용</span></h3>
								</div>
								<div class="col-lg-2 col-md-3">
									<ul class="info_booking">
										<li><strong>없어도 될것같지만 혹시 몰라서 남깁니다.. .</strong> 23442</li>
										<li><strong>Booked on</strong> Sat. 20 Dec. 2015</li>
									</ul>
								</div>
								<div class="col-lg-2 col-md-2">
									<div class="booking_buttons">
										<a href="#0" class="btn_2">보러가기</a>
									</div>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- End strip booking -->
						<br>
						<hr>
						<br>
						
						<h3> 티켓 </h3>
							<br>
						
						<div class="strip_booking">
							<div class="row">
								<div class="col-lg-2 col-md-2">
									<div class="date">
										<span class="month">Dec</span>
										<span class="day"><strong>27</strong>Fri</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-5">
									<h3 class="tours_booking"> 리뷰 쓴 글의 제목 <span> 내가 쓴 글 내용</span></h3>
								</div>
								<div class="col-lg-2 col-md-3">
									<ul class="info_booking">
										<li><strong>없어도 될것같지만 혹시 몰라서 남깁니다.. .</strong> 23442</li>
										<li><strong>Booked on</strong> Sat. 20 Dec. 2015</li>
									</ul>
								</div>
								<div class="col-lg-2 col-md-2">
									<div class="booking_buttons">
										<a href="#0" class="btn_2">보러가기</a>
									</div>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- End strip booking -->
					</section>
<!-- End section 4 -->
					