<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="include-common-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>도움이 필요하신가요?</h3>
					<a href="tel://004542344599" id="phone">02-000-0000</a> <a
						href="mailto:help@citytours.com" id="email_footer">myrealkorea@myrealkorea.com</a>
				</div>
				<div class="col-md-3">
					<h3>MENU</h3>
					<ul>
						<li><a href="notice-list">공지사항</a></li>
						<li><a href="user-login">로그인</a></li>
						<li><a href="user-write">회원가입</a></li>
						<li><a href="user-view">마이페이지</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h3>CHECK</h3>
					<ul>
						<li><a href="tour-list">투어</a></li>
						<li><a href="ticket-list">티켓</a></li>
						<li><a href="freeboard-list">자유게시판</a></li>
						<li><a href="tripboard-list">동행찾기</a></li>
					</ul>
				</div>
				<div class="col-md-2">
				</div>
			</div>
			<!-- End row -->
			<div class="row">
				<div class="col-md-12">
					<div id="social_footer">
						<p>© MY REAL KOREA</p>
					</div>
				</div>
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
</div>

