<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
	content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
<meta name="author" content="Ansonika">
<title>CITY TOURS - City tours and travel site template by
	Ansonika</title>

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

<!-- GOOGLE WEB FONT -->
<link
	href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,700"
	rel="stylesheet">

<!-- COMMON CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/vendors.css" rel="stylesheet">

<!-- CUSTOM CSS -->
<link href="css/custom.css" rel="stylesheet">

</head>

<body>

	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div>
	<!-- End Preload -->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!--======================== Header========================== -->
	<div id="header" th:include="include-common-top::include-common-top"></div>
	<!--======================== End Header======================== -->

	<main>
		<div id="carousel-home">
			<div class="owl-carousel owl-theme">
				<div class="owl-slide cover" style="background-image: url(img/index_main1.png);">
					<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
						<div class="container">
							<div class="row justify-content-center justify-content-md-start">
								<div class="col-lg-12 static">
									<div class="slide-text text-center white">
										<h2 class="owl-slide-animated owl-slide-title">
											Welcome to<br>MY REAL KOREA
										</h2>
										<p class="owl-slide-animated owl-slide-subtitle">쉽고 편한 국내 여행은 마이리얼코리아</p>
										<div class="owl-slide-animated owl-slide-cta">
											<a class="btn_1" href="all_tours_list.html" role="button">Read
												more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/owl-slide-->
				<div class="owl-slide cover" style="background-image: url(img/index_main2.png);">
					<div class="opacity-mask d-flex align-items-center"
						data-opacity-mask="rgba(0, 0, 0, 0.6)">
						<div class="container">
							<div class="row justify-content-center justify-content-md-end">
								<div class="col-lg-6 static">
									<div class="slide-text text-right white">
										<h2 class="owl-slide-animated owl-slide-title">
											Discover<br>Vatican Museum
										</h2>
										<p class="owl-slide-animated owl-slide-subtitle">Discover
											hidden wonders on trips curated by Citytours Tours Experts</p>
										<div class="owl-slide-animated owl-slide-cta">
											<a class="btn_1" href="all_tours_list.html" role="button">Read
												more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/owl-slide-->
				<div class="owl-slide cover" style="background-image: url(img/index_main3.png);">
					<div class="opacity-mask d-flex align-items-center"
						data-opacity-mask="rgba(0, 0, 0, 0.5)">
						<div class="container">
							<div class="row justify-content-center justify-content-md-start">
								<div class="col-lg-6 static">
									<div class="slide-text white">
										<h2 class="owl-slide-animated owl-slide-title">
											Love Paris<br>Arch de Triomphe
										</h2>
										<p class="owl-slide-animated owl-slide-subtitle">Discover
											hidden wonders on trips curated by Citytours Tours Experts</p>
										<div class="owl-slide-animated owl-slide-cta">
											<a class="btn_1" href="all_tours_list.html" role="button">Read
												more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/owl-slide-->
			</div>
			<div id="icon_drag_mobile"></div>
		</div>
		<!--/carousel-->

		<div class="white_bg">
			<div class="container margin_60">
				<div class="row small-gutters categories_grid">
					<div class="col-sm-12 col-md-6">
						<a href="tour-list"> 
						<img src="img/tour_index.png" alt="" class="img-fluid">
							<div class="wrapper">
								<h2>투어</h2>
								<p>투어상품 보러가기 CLICK</p>
							</div>
						</a>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="row small-gutters mt-md-0 mt-sm-2">
							<div class="col-sm-6">
								<a href="tripboard-list"> <img
									src="img/main_tripboard.jpg" alt="" class="img-fluid">
									<div class="wrapper">
										<h2>동행 찾기</h2>
										<p>게시판 가기 CLICK</p>
									</div>
								</a>
							</div>
							<div class="col-sm-6">
								<a href="freeboard-list"> <img
									src="img/main_freeboard.jpg" alt="" class="img-fluid">
									<div class="wrapper">
										<h2>자유게시판</h2>
										<p>자유게시판 가기 CLICK</p>
									</div>
								</a>
							</div>
							<div class="col-sm-12 mt-sm-2">
								<a href="ticket-list"> <img
									src="img/main_ticket.jpg" alt="" class="img-fluid">
									<div class="wrapper">
										<h2>티켓</h2>
										<p>티켓상품 보러가기 CLICK</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--/categories_grid-->
			</div>
			<!-- /container -->
		</div>
		<!-- /white_bg -->
		<div class="container margin_60">

		</div>
		<!-- End container -->

		<div class="white_bg">
			<div class="container margin_60">
				<div class="main_title">
					<h2>
						Plan <span>Your Tour</span> Easly
					</h2>
					<p>Quisque at tortor a libero posuere laoreet vitae sed arcu.
						Curabitur consequat.</p>
				</div>
				<div class="row feature_home_2">
					<div class="col-md-4 text-center">
						<img src="img/adventure_icon_1.svg" alt="" width="75" height="75">
						<h3>Itineraries studied in detail</h3>
						<p>Suscipit invenire petentium per in. Ne magna assueverit
							vel. Vix movet perfecto facilisis in, ius ad maiorum corrumpit,
							his esse docendi in.</p>
					</div>
					<div class="col-md-4 text-center">
						<img src="img/adventure_icon_2.svg" alt="" width="75" height="75">
						<h3>Room and food included</h3>
						<p>Cum accusam voluptatibus at, et eum fuisset sententiae.
							Postulant tractatos ius an, in vis fabulas percipitur, est audiam
							phaedrum electram ex.</p>
					</div>
					<div class="col-md-4 text-center">
						<img src="img/adventure_icon_3.svg" alt="" width="75" height="75">
						<h3>Everything organized</h3>
						<p>Integre vivendo percipitur eam in, graece suavitate cu vel.
							Per inani persius accumsan no. An case duis option est, pro ad
							fastidii contentiones.</p>
					</div>
				</div>

				<div class="banner_2">
					<div class="wrapper d-flex align-items-center opacity-mask"
						data-opacity-mask="rgba(0, 0, 0, 50)"
						style="background-image: url(img/notice_index.png);">
						<div>
							<h3>
								공지사항<br>
							</h3>
							<p>공지사항 확인하기</p>
							<a href="notice-list" class="btn_1">Read more</a>
						</div>
					</div>
					<!-- /wrapper -->
				</div>
				<!-- /banner_2 -->

			</div>
			<!-- End container -->
		</div>
		<!-- End white_bg -->

		<div class="container margin_60">
			<div class="main_title">
			</div>
		</div>
		<!-- End container -->
	</main>
	<!--========================= End main =========================-->
	
	<!--========================= footer ========================-->
	<footer class="revealed">
		<div id="footer" th:include="include-common-bottom::include-common-bottom"></div>
	</footer>
		<!-- End container -->
	<!--========================= End footer ========================-->

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i
			class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit">
				<i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div>
	<!-- End Search Menu -->

	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a> <a
					href="#0" class="social_bt google">Login with Google</a>
				<div class="divider">
					<span>Or</span>
				</div>
				<div class="form-group">
					<label>Email</label> <input type="email" class="form-control"
						name="email" id="email"> <i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label> <input type="password" class="form-control"
						name="password" id="password" value=""> <i
						class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-left">
						<input id="remember-me" type="checkbox" name="check"> <label
							for="remember-me">Remember Me</label>
					</div>
					<div class="float-right">
						<a id="forgot" href="javascript:void(0);">Forgot Password?</a>
					</div>
				</div>
				<div class="text-center">
					<input type="submit" value="Log In" class="btn_login">
				</div>
				<div class="text-center">
					Don’t have an account? <a href="javascript:void(0);">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label> <input
							type="email" class="form-control" name="email_forgot"
							id="email_forgot"> <i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to
						reset your password to a new preferred one.</p>
					<div class="text-center">
						<input type="submit" value="Reset Password" class="btn_1">
					</div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- Sign In Popup -->

	<!-- Common scripts -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>

	<!-- NOTIFY BUBBLES 
	<script src="js/notify_func.js"></script>-->

</body>

</html>