<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
	<meta name="author" content="Ansonika">
	<title>마이리얼코리아-예약확인</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,700" rel="stylesheet">
	
	<!-- COMMON CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">
	
	<!-- CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">
	
</head>

<body>

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!--======================== Header========================== -->
	<div id="header" th:include="include-common-top::include-common-top"></div>
	<!--======================== End Header======================== -->

	<section id="hero_2">
		<div class="intro_title">
			<h1>예약 상세</h1>
			<div class="bs-wizard row">
<!--  
				<div class="col-4 bs-wizard-step complete">
					<div class="text-center bs-wizard-stepnum">예약상세보기</div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="cart_hotel.html" class="bs-wizard-dot"></a>
				</div>

				<div class="col-4 bs-wizard-step complete">
					<div class="text-center bs-wizard-stepnum">투어 예약하기</div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="payment_hotel.html" class="bs-wizard-dot"></a>
				</div>

				<div class="col-4 bs-wizard-step complete">
					<div class="text-center bs-wizard-stepnum">투어 예약완료!!</div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="#" class="bs-wizard-dot"></a>
				</div>

			</div>-->
			<!-- End bs-wizard -->
		</div>
		<!-- End intro-title -->
	</section>
	<!-- End Section hero_2 -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="./">메인페이지</a>
					</li>
					<!--  <li><a href="tour-list./">투어리스트</a>
					</li>
					<li><a th:href="@{tour-detail(toNo=${tour.toNo})}">투어상세보기</a>
					</li>-->
				</ul>
			</div>
		</div>
		<!-- End position -->

		<div class="container margin_60">
			<div class="row">
				<div class="col-lg-8 add_bottom_15">

					<!-- <div class="form_title">
					 	<h3><strong><i class="icon-ok"></i></strong>Thank you!</h3>
						<p>
							Mussum ipsum cacilds, vidis litro abertis.
						</p>
					</div>
					<div class="step">
						<p>
							Lorem ipsum dolor sit amet, nostrud nominati vis ex, essent conceptam eam ad. Cu etiam comprehensam nec. Cibo delicata mei an, eum porro legere no. Te usu decore omnium, quem brute vis at, ius esse officiis legendos cu. Dicunt voluptatum at cum. Vel et facete equidem deterruisset, mei graeco cetero labores et. Accusamus inciderint eu mea.
						</p>
					</div>-->
					<!--End step -->

					<div class="form_title">
						<h3><strong><i class="icon-tag-1"></i></strong>예약상세보기</h3>
						<p>
							Mussum ipsum cacilds, vidis litro abertis.
						</p>
					</div>
					<div class="step">
						<table class="table table-striped confirm">
							<tbody>
							<!-- 예약상품명 -->
								<tr th:if="${payment.tour != null or payment.ticket != null}">
										<td>
										<strong>예약상품명</strong>
									</td>
								  <td th:if="${payment.tour != null}">
								      <span th:text="${payment.tour.toName}"></span>
								  </td>    
								    <td th:if="${payment.ticket != null}">
								      <span th:text="${payment.ticket.tiTitle}"></span>
								  </td>
								</tr>
							<!-- 예약상품명 -->
							
							<!-- 여행 시작일 -->
							<tr th:if="${payment.tour != null or payment.ticket != null}">
									<td th:if="${payment.tour != null}">
										<strong>여행 시작일</strong>
									</td>
									<td th:if="${payment.ticket != null}">
										<strong>예약 날짜</strong>
									</td>
								  <td th:if="${payment.tour != null}">
								      <span th:text="${#dates.format(payment.pStartDate,'yyyy-MM-dd')}"></span>
								  </td>    
								    <td th:if="${payment.ticket != null}">
								      <span th:text="${#dates.format(payment.pStartDate,'yyyy-MM-dd')}"></span>
								  </td>
							</tr>
							<!-- 여행 시작일 -->
							
							<!-- 여행 종료일 (투어만) -->
							<tr th:if="${payment.tour != null}">
							  <td>
							    <strong>여행 종료일</strong>
							  </td>
							  <td>
							    <span th:text="${#dates.format(payment.pStartDate,'yyyy-MM-dd')}"></span>
							  </td>
							</tr>

							<!--여행 종료일 (투어만) -->	
							
							<!--  예약 인원 수 -->
							<tr th:if="${payment.tour != null or payment.ticket != null}">
									<td>
										<strong>예약 인원수</strong>
									</td>
								  <td th:if="${payment.tour != null}">
								      <span th:text="${payment.pQty}"></span>
								  </td>    
								    <td th:if="${payment.ticket != null}">
								      <span th:text="${payment.pQty}"></span>
								  </td>
							</tr> 
							
							<!--  예약 인원 수 -->
							
							<tr th:if="${payment.tour != null or payment.ticket != null}">
									<td>
										<strong>결제 </strong>
									</td>
								  <td th:if="${payment.tour != null}">
								      <span th:text="${payment.pQty}"></span>
								  </td>    
								    <td th:if="${payment.ticket != null}">
								      <span th:text="${payment.pQty}"></span>
								  </td>
							</tr>
						<!-- 예약 인원 수  -->		
							
							<!-- 결제방법 -->
							<tr th:if="${payment.tour != null or payment.ticket != null}">
									<td>
										<strong>결제방법</strong>
									</td>
								  <td th:if="${payment.tour != null}">
								      <th:block th:if="${payment.pMethod==1}">
								      		현금결제
								      </th:block>
								   <th:block th:if="${payment.pMethod==2}">
											카드결제
									</th:block>
									</td>
								  <td th:if="${payment.ticket != null}">
								      <th:block th:if="${payment.pMethod==1}">
								      		현금결제
								      </th:block>
								   <th:block th:if="${payment.pMethod==2}">
											카드결제
									</th:block>
								  </td>
							</tr>
								
								<!-- 금액 -->
								
								<tr th:if="${payment.tour != null or payment.ticket != null}">
								  <td>
								    <strong>금액</strong>
								  </td>
								  <td th:if="${payment.tour != null}">
								    <span th:text="${#numbers.formatInteger(payment.tour.toPrice*payment.pQty,3,'COMMA')} + '원'}"></span>
								  </td>    
								  <td th:if="${payment.ticket != null}">
								    <span th:text="${#numbers.formatInteger(payment.ticket.tiPrice*payment.pQty, 3 , 'COMMA')} + '원' "></span>
								  </td>
								</tr>
								 <!--  금액 -->
								
								<!-- 사용포인트 -->
								<tr th:if="${payment.tour != null or payment.ticket != null}">
								  <td>
								    <strong>사용포인트</strong>
								  </td>
								  <td th:if="${payment.tour != null}">
								    <span th:text="${(payment.tour.toPrice * payment.pQty) - payment.pPrice}"></span>
								  </td>    
								  <td th:if="${payment.ticket != null}">
								    <span th:text="${(payment.ticket.tiPrice * payment.pQty) - payment.pPrice}"></span>
								  </td>
								</tr>

							 <!--  사용포인트 -->
								
								<!-- 결제금액 -->
								<tr th:if="${payment.tour != null or payment.ticket != null}">
								  <td>
								    <strong>결제 금액</strong>
								  </td>
								  <td th:if="${payment.tour != null}">
								    <span th:text="${#numbers.formatInteger(payment.pPrice, 3, 'COMMA')} + '원' "></span>
								  </td>    
								  <td th:if="${payment.ticket != null}">
								    <span th:text="${#numbers.formatInteger(payment.pPrice, 3, 'COMMA')} + '원' "></span>
								  </td>
								</tr>
								<!-- 결제금액 -->
								
								<!-- 적립포인트 -->			
								
								<tr th:if="${payment.tour != null or payment.ticket != null}">
								  <td>
								    <strong>적x립 포인트</strong>
								  </td>
								  <td th:if="${payment.tour != null}">
								    <span th:text="${payment.pPoint}"></span>
								  </td>    
								  <td th:if="${payment.ticket != null}">
								    <span th:text="${payment.pPoint}"></span>
								  </td>
								</tr>
								<!-- 적립포인트 -->								
							</tbody>
						</table>
					</div>
					<!--End step -->
				</div>
				<!--End col -->

				<aside class="col-lg-4">
					<div class="box_style_1">
						<h3 class="inner">감사합니다.</h3>
							<p>
								저희 마이리얼코리아의 상품을 구매 해 주신것에 감사드립니다. 앞으로도 마이리얼코리아와 함께하는 국내여행 많은 관심 부탁드립니다.
							</p>
						<hr>
						<a class="btn_full_outline" href="invoice.html" target="_blank">View your invoice</a>
					</div>
					<div class="box_style_4">
						<i class="icon_set_1_icon-89"></i>
						<h4>Have <span>questions?</span></h4>
						<a href="tel://004542344599" class="phone">+45 423 445 99</a>
						<small>Monday to Friday 9.00am - 7.30pm</small>
					</div>
				</aside>

			</div>
			<!--End row -->
		</div>
		<!--End container -->
	</main>
	<!-- End main -->
	<!--========================= footer ========================-->
	<footer class="revealed">
		<div id="footer" th:include="include-common-bottom::include-common-bottom"></div>
	</footer>
		<!-- End container -->
	<!--========================= End footer ========================-->
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	
	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a>
				<a href="#0" class="social_bt google">Login with Google</a>
				<div class="divider"><span>Or</span></div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" name="email" id="email">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" id="password" value="">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-left">
						<input id="remember-me" type="checkbox" name="check">
						<label for="remember-me">Remember Me</label>
					</div>
					<div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
				</div>
				<div class="text-center"><input type="submit" value="Log In" class="btn_login"></div>
				<div class="text-center">
					Don’t have an account? <a href="javascript:void(0);">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
						<i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
					<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /Sign In Popup -->
	
	<!-- Jquery -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>


</body>

</html>