<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>마이리얼코리아 MY REAL KOREA</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144xaside 144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,700" rel="stylesheet">

    <!-- COMMON CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">
	
	<!-- CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">
	
	<!-- Handlebars -->
	<script  defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
	
</head>

<body>
<th:block th:if="${session.ticket.location!=null}">
	<input type="hidden" id="lat" th:value="${session.ticket.location.lat}">
	<input type="hidden" id="lng" th:value="${session.ticket.location.lng}">
</th:block>
<th:block th:if="${session.ticket.location==null}">
	<input type="hidden" id="lat"  value="37.5400456">
	<input type="hidden" id="lng"  value="126.9921017">
</th:block>
	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!--======================== Header========================== -->
	<div id="header" th:include="include-common-top::include-common-top"></div>
	<!--======================== End Header======================== -->
	
	<section class="parallax-window" data-parallax="scroll" th:data-image-src="@{{tiImgUrl}(tiImgUrl=${ticketImgList[0].tiImgUrl})}" data-natural-width="1400" data-natural-height="470">
        <div class="parallax-content-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                    <div class="rating" th:switch="${ticket.tiScore}" >
							<div th:case="0">
								<i class="icon-star-empty"></i>							
								<i class="icon-star-empty"></i>							
								<i class="icon-star-empty"></i>							
								<i class="icon-star-empty"></i>							
								<i class="icon-star-empty"></i>							
							</div>
						<div th:case="5">
							<i class="icon-star voted"></i>
							<i class="icon-star voted"></i>
							<i class="icon-star voted"></i>
							<i class="icon-star voted"></i>
							<i class="icon-star voted"></i>
						</div>
					<div th:case="*">
						<span th:each="i:${#numbers.sequence(0,ticket.tiScore-1)}">
							<i class="icon-star voted"></i>
						</span>
						<span th:each="i:${#numbers.sequence(ticket.tiScore,4)}">
							<i class="icon-star-empty"></i>
						</span>
					</div>
					</div>
                        <h1 th:text="${session.ticket.tiTitle}"></h1>
                        <span th:text="${session.ticket.city.cityName}"></span>
                    </div>
                    <div class="col-md-4">
                        <div id="price_single_main" class="hotel">
                            <span data-th-text="${#numbers.formatInteger(session.ticket.tiPrice ,3, 'COMMA')} +'원' "></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
	<!-- End section -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					 <li><i class="icon-home" onclick="location.href='index'"></i><a href="index"></a>
                </li>
                <li><a href="ticket-list">티켓</a>
                </li>
                <li>상세보기</li>
				</ul>
			</div>
		</div>
		<!-- End Position -->

		<div class="container margin_60">
		<div>
			<!-- 위시리스트 성공시 toast (민선)-->
			<div class="toast align-items-center" role="alert" id="wishlist-add-toast" 
						aria-live="assertive" aria-atomic="true" >
			  <div class="d-flex">
			    <div class="toast-body">
			    위시리스트에 상품이 추가되었습니다!
			   </div>
			  </div>
			</div>
			<!-- 위시리스트 이미 담긴 상품일 시 toast (민선)-->
			<div class="toast align-items-center" role="alert" id="wishlist-added-toast" aria-live="assertive" aria-atomic="true" >
			  <div class="d-flex">
			    <div class="toast-body">
			    이미 위시리스트에 추가된 상품입니다.
			   </div>
			  </div>
			</div>
			<!-- End toast -->	
		
			<div class="row">
				<div class="col-lg-8" id="single_tour_desc">
					<th:block th:each="ticketImg, iterStat : ${ticketImgList}">
  							 	 <th:block th:if="${!iterStat.first}">
       								 <img alt="Image" style="width:100%" class="sp-thumbnail" th:src="@{{tiImgUrl}(tiImgUrl=${ticketImg.tiImgUrl})}">
   								</th:block>
							</th:block>
					<!--<p class="d-none d-md-block d-block d-lg-none">
					<a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" 
					data-text-swap="Hide map" data-text-original="View on map">View on map</a>
					</p>
					 Map button for tablets/mobiles -->
					<div>
							<!--티켓  이미지
							<div class="sp-slide">
							<img alt="Image" class="sp-image" src="css/images/blank.gif" data-src="img/slider_single_tour/1_medium.jpg" data-small="img/slider_single_tour/1_small.jpg" data-medium="img/slider_single_tour/1_medium.jpg" data-large="img/slider_single_tour/1_large.jpg" data-retina="img/slider_single_tour/1_large.jpg">
							</div>
							<div class="sp-slide">
								<img alt="Image" class="sp-image" src="css/images/blank.gif" data-src="img/slider_single_tour/2_medium.jpg" data-small="img/slider_single_tour/2_small.jpg" data-medium="img/slider_single_tour/2_medium.jpg" data-large="img/slider_single_tour/2_large.jpg" data-retina="img/slider_single_tour/2_large.jpg">
							</div> -->
						<!--  <div class="sp-thumbnails">
							<img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/1_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/2_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/3_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/4_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/5_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/6_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/7_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/8_medium.jpg">
							<img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/9_medium.jpg">
						</div>-->
					</div>

					<div class="row">
						<div class="col-lg-3">
						
						<!--  <h3>상세보기</h3>-->	
						</div>
						<div class="col-lg-9">
						<!--	<p th:text="${session.ticket.tiInfo}">
							</p>
							 <th:block th:each="ticketImg, iterStat : ${ticketImgList}">
  							 	 <th:block th:if="${!iterStat.first}">
       								 <img alt="Image" style="width:100%" class="sp-thumbnail" th:src="@{{tiImgUrl}(tiImgUrl=${ticketImg.tiImgUrl})}">
   								</th:block>
							</th:block> -->

							<p>
				
							</p>
							<div class="row">
								<div class="col-md-6">
						
								</div>
								<div class="col-md-6">
								</div>
							</div>
							<!-- End row  -->
						</div>
						<!-- End col-md-9  -->
					</div>
					<!-- End row  -->

<!-- 
					<div class="row">
						<div class="col-lg-3">
							
						</div>
						
					</div> -->
					<!-- End row  -->
					<!-- 리뷰 화면 -->
					<br><br>
					<div class="row" id="ticketReviewDiv">
						<div class="col-lg-3">
							<h3>티켓 리뷰</h3>
							<div th:if="${session.loginUser!=null}">
								<a href="#" class="btn_1 add_bottom_30" id="myReviewBtn" data-toggle="modal" data-target="#myReview" 
								th:data-id="${session.loginUser.userId}" th:data-tino="${session.ticket.tiNo}">리뷰 남기기</a>
							</div>
							<div th:if="${session.loginUser==null}">
								<a href="#" class="btn_1 add_bottom_30" onclick="location.href='./user-login'">리뷰 남기기</a>
							</div>
						</div>
						<div class="col-lg-9">
							<div id="score_detail"><span th:text="${ticketReviewList.size()}"></span>명이 구매했습니다.
								
							</div>
							<!-- End general_rating -->
							<div id="rating_summary">
								<div class="col-md-12">
									<div class="rating" th:switch=${ticket.tiScore}>
										<div th:case="0">
											<i class="icon-star-empty"></i>							
											<i class="icon-star-empty"></i>							
											<i class="icon-star-empty"></i>							
											<i class="icon-star-empty"></i>							
											<i class="icon-star-empty"></i>							
										</div>
										<div th:case="5">
												<i class="icon-star voted"></i>
												<i class="icon-star voted"></i>
												<i class="icon-star voted"></i>
												<i class="icon-star voted"></i>
												<i class="icon-star voted"></i>
										</div>
										<div th:case="*">
											<span th:each="i:${#numbers.sequence(0,ticket.tiScore-1)}">
													<i class="icon-star voted"></i>
											</span>
											<span th:each="i:${#numbers.sequence(ticket.tiScore,4)}">
													<i class="icon-star-empty"></i>
											</span>
										</div>
										<small th:text="${ticketReviewList.size()}+'개의 후기가 작성되었습니다.'"></small>
									<div>
								</div>
							</div>
							</div>
							<!-- End row -->
							<hr>
							<div class="review_strip_single"  th:each="ticketReview:${ticketReviewList}">
							<form th:name="f+${ticketReview.tiReviewNo}" id=ticketReviewForm>
								<img src="upload-dir/defaultImg.png" alt="Image" class="rounded-circle" width="80px" height="80px">
								<div th:if="${session.loginUser!=null && session.loginUser.userId == ticketReview.user.userId}" style="float: right;"> 
								 <!-- <button th:value="${ticketReview.tiReviewNo}" id="modifyTiReviewBtn" name="modifyTiReviewNo">수정</button>  -->
								 <button type="button" th:value="${ticketReview.tiReviewNo}" th:tiReviewNo="${ticketReview.tiReviewNo}" class="modifyTiReviewBtn btn btn-primary btn-sm" >수정</button>
        						 <button type="button" th:value="${ticketReview.tiReviewNo}" th:tiReviewNo="${ticketReview.tiReviewNo}" name="tiReviewNo" class="deleteTiReviewBtn btn btn-danger btn-sm">삭제</button>
								</div>
								<h4 th:text="${ticketReview.user.userId}" style="width: 500px;">Jhon Doe</h4>
								<br clear="both">
								<small th:text="${#dates.format(ticketReview.tiReviewDate, 'yyyy-MM-dd')}"> - 10 March 2015 -</small>
								
								<!-- 타이틀 추가 -->
								<h5 th:text="${ticketReview.tiReviewTitle}" name="tiReviewTitle"></h5>
								<div th:if="${ticketReview.tiReviewImg}">
  								  <img th:src="${ticketReview.tiReviewImg}" width="30%" height="40%" style="position: sticky;">
								</div>
								<br>
								<p th:text="${ticketReview.tiReviewContent}" th:name="tiReviewContent">
									<!--리뷰내용-->
									"Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Sed a lorem quis neque interdum consequat ut sed sem.
									Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in
									faucibus."
								</p>
								
								<!-- DB -->

								<!-- <p> <img src="" id="result-image"> </p> -->
								</form>
							</div>
							<!-- End review strip -->
						</div>
					</div>
			</div>
				<!--End  single_tour_desc-->
				</div>

				<aside class="col-lg-4">
					<p class="d-none d-xl-block d-lg-block d-xl-none">
					<!--  	<a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a> -->
					</p>
					<!-- detail - 여기서 티켓 정보 넘기기****************** 예약하기 FORM  ****************** -->
					<form name="f" method="post" action="ticket-detail-aciton">
					<!--  <div class="box_style_1 expose" style="position: fixed; width: 300px; height: 350px; overflow: auto;">-->
					<div class="box_style_1 expose">
						<h3 class="inner">예약하기</h3>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label><i class="icon-calendar-7"></i> 예약 날짜</label>
									<input class="form-control" data-date-format="yyyy-MM-dd" type="date" id="pStartDate" name="pStartDate" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label>수량</label>
									<div class="numbers-row">
									<!-- text -> number -->
										<input type="text" value="1" id="pQty" class="qty2 form-control" name="pQty">
									</div>
								</div>
							</div>
						<!-- 	<div class="col-6">
								<div class="form-group">
									<label>Children</label>
									<div class="numbers-row">
										<input type="text" value="0" id="children" class="qty2 form-control" name="quantity">
									</div>
								</div> 
							</div>-->
						</div>
						<br>
						<!-- ~~~~~~~~ ~~~~~~~~~~~~~~~~~~~~~~티켓 버튼 (detail-action~~)~~~~~~~~~ ~~~~~~~~~~~~~~~-->
						<button class="btn_full" type="submit">티켓 구매하기</button>
						<!-- 위시리스트 추가 작업 (민선) -->
						<!-- userId null 이 아닐때 위시리스트 추가 버튼 실행 -->
						<div class="detail-to-wishlist" th:if="${userId != null}">
							<div th:each="ticket:${ticketList}">
							<a class="btn_full_outline" id="ticket-add-to-wishlist-btn" href="#" 
							th:data-tiNo="${ticket.tiNo}" th:data-tiTitle="${ticket.tiTitle}" th:data-tiDate="${#dates.format(ticket.tiDate, 'yyyy-MM-dd')}"
							th:data-tiPrice="${ticket.tiPrice}" th:data-tiInfo="${ticket.tiInfo}" th:data-tiNotice="${ticket.tiNotice}"
							th:data-tiCount="${ticket.tiCount}" 
							th:data-cityNo="${ticket.city.cityNo}" th:data-cityName="${ticket.city.cityName}"
							th:data-latitude="${ticket.city.latitude}" th:data-longitude="${ticket.city.longitude}">
							<i class=" icon-heart"></i>위시리스트 담기</a>
							</div>
						</div>
						<!-- userId null 일 때는 위시리스트 추가 버튼 클릭 시 로그인 페이지로 -->
						<div class="detail-to-wishlist" th:if="${userId == null}">
							<a class="btn_full_outline" th:href="@{user-login}">
								<i class=" icon-heart"></i>위시리스트 담기</a>
						</div>
						<!-- End wish list-->
					</div>
					
				</form>
					<!--/box_style_1 -->
					<div class="box_style_4" style="padding:0px">
						<div id="map" class="map" style="width:100%;height:500px;">
						</div>
					</div>
					<div class="box_style_2">
						<i class="icon_set_1_icon-57"></i>
						<br>
						<h6>도움이 필요하신가요?</h6>
						<a href="tel://004542344599" class="phone">+82 423 445 99</a>
						<small>월 ~ 금 9.00am - 7.30pm</small>
					</div>
				</aside>
			</div>
			<!--End row -->
		</div>
		</div>
		
		<!--End container -->

        <div id="overlay"></div>
		<!-- Mask on input focus -->

	</main>
	<!-- End main -->
	   
	
	<!--========================= footer ========================-->
	<footer class="revealed">
		<div id="footer" th:include="include-common-bottom::include-common-bottom"></div>
	</footer>
		<!-- End container -->
	<!--========================= End footer ========================-->

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	
	<!-- 로그인 팝업 창 ~~~~~~~~~~~~~  -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a>
				<a href="#0" class="social_bt google">Login with Google</a>
				<div class="divider"><span>Or</span></div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" name="email" id="email">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" id="password" value="">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-left">
						<input id="remember-me" type="checkbox" name="check">
						<label for="remember-me">Remember Me</label>
					</div>
					<div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
				</div>
				<div class="text-center"><input type="submit" value="Log In" class="btn_login"></div>
				<div class="text-center">
					Don’t have an account? <a href="javascript:void(0);">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
						<i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
					<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /로그인 팝업 창 ~~~~~~~~~~~~~-->	

	<!--  Modal Review  ~~~~~~~~~~~~~~~~~~~ 리뷰창 모달 ~~~~~~~~~~~~~~~~~~~  -->
	<div class="modal fade" id="myReview" tabindex="1" role="dialog" aria-labelledby="myReviewLabel" aria-hidden="true" style="z-index:100000;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myReviewLabel">티켓 리뷰 작성</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div id="message-review">
					</div>
					<!-- 모달 폼 -->
					<form method="post" id="ticketReview"  name="ticketReview"  enctype​​="multipart/form-data">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input readonly type="text" name="userId"  id="userId" class="form-control">
									<input type="hidden" id="tiReviewNo" class="form-control" th:value="${tiReviewNo}">
									<input type="hidden" id="hiddenTiNo" class="form-control" th:value="${session.ticket.tiNo}">
									
									<div>
									 	
									 	<input type="hidden" id="img" name="img">
									 	<!-- 새 파일 -->
									 	<br>
									 	<!-- 파일 업로드 새 파일 값 value 넣기?-->
              						<input type="file" id="tiReviewImg" value={{tiReviewImg}}>
         						   </div>
								</div>
							</div>
						</div>
						<!-- End row -->
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input name="tiReviewTitle" id="tiReviewTitle" type="text" placeholder="제목을 적어주세요" class="form-control">
								</div>
							</div>
						</div>
						<!-- End row -->
						<hr>
						<!-- End row -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>평점</label>
									<select class="form-control" name="tiReviewStar" id="tiReviewStar">
										<option value="0">평점을 남겨주세요</option>
										<option value="1">1점</option>
										<option value="2">2점</option>
										<option value="3">3점</option>
										<option value="4">4점</option>
										<option value="5">5점</option>
									</select>
								</div>
							</div>
						</div>
						<!-- End row -->
						<div class="form-group">
							<textarea name="tiReviewContent" id="tiReviewContent" class="form-control" style="height:100px" placeholder="내용을 적어주세요"></textarea>
						</div>
						<!--리뷰 버튼 하나로 합치기 (ㅎ..)-->
						<div style="text-align:center">
							<button type="button" class="btn btn-danger" id="ticket-review-modify-action">수정</button>
							<button type="button" class="btn btn-danger" id="ticket-review-action">등록</button>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End modal review -->
	
	
	<!--모달 수정 -->

	<!-- Common scripts -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/app_ticket.js" type="module"></script>
	<script src="js/app.js" type="module"></script>

	<!-- Date and time pickers -->
	<script src="js/jquery.sliderPro.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function ($) {
			$('#Img_carousel').sliderPro({
				width: 960,
				height: 500,
				fade: true,
				arrows: true,
				buttons: false,
				fullScreen: false,
				smallSize: 500,
				startSlide: 0,
				mediumSize: 1000,
				largeSize: 3000,
				thumbnailArrows: true,
				autoplay: false
			});
		});
	</script>

	<!-- Date and time pickers -->
	<script>
		$('input.date-pick').datepicker('setDate', 'today');
	</script>
	
	<!-- Map 
	<script src="http://maps.googleapis.com/maps/api/js"></script>                      
	<script src="js/map.js"></script>
	<script src="js/infobox.js"></script>-->
	
	
	<!-- Carousel -->
	<script>
		$('.carousel-thumbs-2').owlCarousel({
		loop:false,
		margin:5,
		responsiveClass:true,
		nav:false,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:3
			},
			1000:{
				items:4,
				nav:false
			}
		}
	});
	</script>
	

	

	<!--Review modal validation -->
	<script src="assets/validate.js"></script>
	<!-- 리뷰 템플릿 handlebar -->
	 <script id="ticketReview-template" type="text/x-handlebars-template">
	<div id="score_detail">
		<span>
			{{tiCount}}
		</span>명이 구매했습니다.
	</div>
	<!-- End general_rating -->
	<div class="row" id="rating_summary">
		<div class="col-md-12">
			<div class="rating" value="{{tiScore}}">
				{{#generateStarHtml tiScore}}
				{{/generateStarHtml}}
			</div>
			<small>
				(Based on {{tiReviewCount}} reviews)
			</small>
		</div>
	</div>
	<hr>

	
{{#each data}}
		<div class="modal fade" id="myReview" tabindex="1" role="dialog" aria-labelledby="myReviewLabel" aria-hidden="true" style="z-index:100000;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myReviewLabel">티켓 리뷰 작성</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div id="message-review">
					</div>
					<!-- 모달 폼 -->
					<form method="post" id="ticketReview"  name="ticketReview"  enctype​​="multipart/form-data">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input readonly type="text" name="userId"  id="userId" class="form-control">
									<input type="hidden" id="hiddenTiNo" class="form-control">
									
									<div>
									 	<!-- 기존 파일
									 	<input type="hidden" id="img" name="img"> -->
									 	<!-- 새 파일 -->
									 	<br>
									 	<!-- 파일 업로드 새 파일 값 value 넣기?-->
              						<input type="file" id="tiReviewImg" value={{tiReviewImg}}>
         						   </div>
								</div>
							</div>
						</div>
						<!-- End row -->
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input name="tiReviewTitle" id="tiReviewTitle" value="{{tiReviewTitle}}" type="text" placeholder="제목을 적어주세요" class="form-control">
								</div>
							</div>
						</div>
						<!-- End row -->
						<hr>
						<!-- End row -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>평점</label>
									<select class="form-control" name="tiReviewStar" id="tiReviewStar">
										<option value="0">평점을 남겨주세요</option>
										<option value="1">1점</option>
										<option value="2">2점</option>
										<option value="3">3점</option>
										<option value="4">4점</option>
										<option value="5">5점</option>
									</select>
								</div>
							</div>
						</div>
						<!-- End row -->
						<div class="form-group">
							<textarea name="tiReviewContent" id="tiReviewContent" value="{{tiReviewContent}}"class="form-control" style="height:100px" placeholder="내용을 적어주세요"></textarea>
						</div>
						<!--리뷰 버튼-->
						<button type="button" class="btn_1" id="ticket-review-z-action">수정</button>
						<button type="button" class="btn_1" id="ticket-review-action">submit</button>
					</form>
				</div>
			</div>
		</div>
{{/each}}
	</script>
			<!-- Map -->
	<script defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDaZG7q63JktxVWQ7LM9Fnc_JJXbt8QKAY&callback=initMap"></script>
	<script>
	window.initMap=function(){
		let lat=Number(document.getElementById('lat').value);
		let lng=Number(document.getElementById('lng').value);
		//구글 지도 보여주기
		let mapContainer = document.getElementById("map");
		let mapOption = {
			    center: { 
			    	lat: lat, 
			    	lng: lng },
			    zoom: 14
			  };
		let map=new google.maps.Map(mapContainer,mapOption);
		// 마커로 위치 표시하기 
		let malls = [
		    { label: "", name: "롯데월드타워몰", lat: 37.5125585, lng: 127.1025353 },
		    { label: "", name: "강릉아르떼뮤지엄", lat: 37.7916986, lng: 128.9075057 }
		  //위도 위(+) 아래(-)               경도 우(+) 좌(-)
	  	];
		
	  	//지도 경계 조정하기
 	  	//let bounds=new google.maps.LatLngBounds(); 
	  	//클릭시 정보 보여주기
	  	let infowindow=new google.maps.InfoWindow();
		
	  	malls.forEach(({ label, name, lat, lng }) => {
	    	let marker = new google.maps.Marker({
	      		position: { lat, lng },
	      		label,
	      		map
	      	});
	    	/* bounds.extend(marker.position); */
	    	marker.addListener('click',() => {
	    		map.panTo(marker.position);
	    		infowindow.setContent(name);
	    		infowindow.open({
	    			anchor:marker,
	    			map
	    		});
	    	});
	  	});
	  	/* map.fitBounds(bounds); */
	};
	</script>   
	
	
</body>

</html>