<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
	<meta name="author" content="Ansonika">
	<title>마이리얼코리아 MY REAL KOREA</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,700" rel="stylesheet">
	
	<!-- COMMON CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">
	
	<!-- SPECIFIC CSS -->
	<link href="css/shop.css" rel="stylesheet">
	
	<!-- CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">

	<!-- Handlebars -->
	<script  defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>

</head>

<body>


	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!--======================== Header========================== -->
	<div id="header" th:include="include-common-top::include-common-top"></div>
	<!--======================== End Header======================== -->

	<section class="parallax-window" data-parallax="scroll" data-image-src="img/tour/tour_list_main.jpg" data-natural-width="1400" data-natural-height="470">
		<div class="parallax-content-1">
			<div class="animated fadeInDown">
				<h1><a href="tour-list">투어상품목록</a></h1>
				<br>
				<p>국내여행 고민은 그만! 마이리얼코리아와 함께 떠나요~</p>
			</div>
		</div>
	</section>
	<!-- End section -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><i class="icon-home" onclick="location.href='index'"></i><a href="index"></a>
					</li>
					<li>투어</li>
				</ul>
			</div>
		</div>
		<!-- Position -->

		<div class="collapse" id="collapseMap">
			<div id="map" class="map"></div>
		</div>
		<!-- End Map -->

		<div class="container margin_60">
		
			<!-- 위시리스트 성공시 toast (민선)-->
			<div class="toast align-items-center" role="alert" id="wishlist-add-toast" aria-live="assertive" aria-atomic="true" >
			  <div class="d-flex">
			    <div class="toast-body">
			    위시리스트에 상품이 추가되었습니다!
			   </div>
			  </div>
			</div>
			<!-- 위시리스트 이미 담긴 상품일 시 toast (민선)-->
			<div class="toast align-items-center" role="alert" id="wishlist-added-toast" aria-live="assertive" aria-atomic="true" >
			  <div class="d-flex">
			    <div class="toast-body">
			    이미 위시리스트에 추가된 상품입니다.
			   </div>
			  </div>
			</div>
			<!-- End toast -->	
		
		
			<div class="row">
				<aside class="col-lg-3">
					<div class="widget">
						<div class="input-group">
							<input id="tour-search-keyword" type="text" class="form-control" placeholder="검색">
							<span id="tour-search-btn"  class="input-group-btn">
		                    <button class="btn btn-default" type="button" style="margin-left:0;"><i class="icon-search"></i></button>
		                    </span>
						</div>
					</div>
						<!-- End widget -->
					<hr>

					<div id="filters_col">
						<a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>필터</a>
						<div class="collapse show" id="collapseFilters">
							<div class="filter_type">
								<h6>가격</h6>
								<input type="text" id="range" name="range" value="">
							</div>
							<div class="filter_type" id="cityListDiv">
								<h6>여행 도시</h6>
								<ul>
									<li>
										<label th:each="city:${cityList}">
											<input type="checkbox" id="city-checkbox" name="city-checkbox" th:value="${city.cityNo}" th:text="${city.cityName}">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</label>
									</li>
								</ul>
							</div>
							<div class="filter_type" id="toTypeListDiv">
								<h6>여행타입 </h6>
								<ul>
									<li>
										<label>
											<input type="checkbox" name="toType-checkbox" id="toType-checkbox" value="1">자유여행
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox" name="toType-checkbox" id="toType-checkbox" value="2">패키지여행
										</label>
									</li>
								</ul>
							</div>
						</div>
						<!--End collapse -->
					</div>
					<!--End filters col-->
					<div class="box_style_2">
						<i class="icon_set_1_icon-57"></i>
						<br>
						<h6>도움이 필요하신가요?</h6>
						<a href="tel://004542344599" class="phone">+82 423 445 99</a>
						<small>월 ~ 금 9.00am - 7.30pm</small>
					</div>
				</aside>
				<!--End aside -->

				<div class="col-lg-9">

						<div class="shop-section">
							<div class="items-sorting">
								<div class="row">
									<div class="col-6">
										<div id="page-info" class="results_shop" >
										<span id="cur-page" th:text="${tourListPage.pageMaker.curPage}"></span> &nbsp;페이지 &nbsp;
										       | 전체 건수: <span id="tot-record-count"   th:text="${tourListPage.pageMaker.totCount}"></span>
										<br>
										
									</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<select id="sort-by" name="sort-by">
												<option value="">정렬</option>
												<option value="toPriceAsc">가격 낮은순</option>
												<option value="toPriceDesc">가격 높은순</option>
												<option value="toCountAsc">구매 적은순</option>
												<option value="toCountDesc">구매 많은순</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					<!--End shop-section -->
					<div class="row" id="tour-list">
						<div class="col-md-4 wow zoomIn" data-wow-delay="0.1s" th:each="tour:${tourListPage.itemList}">
							<div class="hotel_container">
								<div class="img_container" >
									<a th:href="@{tour-detail(toNo=${tour.toNo})}">
									<img th:src="@{img/tour/{toImgUrl}(toImgUrl=${tour.tourImgList.get(0).toImgUrl})}" width="800" height="533" class="img-fluid" alt="Image"/>
											<div class="score" >
												<span th:text="${tour.toCount}">
													7.5
												</span>명이 구매했습니다.
											</div>
										<div class="short_info hotel" >
											<span th:text="${tour.city.cityName}">
											</span>
											<span class="price" th:text="${tour.toPrice}">
												59
											</span>
										</div>
									</a>
								</div>
								<div class="hotel_title row">
								<div class="col-md-9" style="padding:1px 1px 1px 15px">
									<h3><strong style="width:90%"  th:text="${tour.toName}">Park Hyatt</strong></h3>
										<div class="rating" th:switch="${tour.toScore}">
											<div th:case="0">
												<i class="icon-star-empty"></i>							
												<i class="icon-star-empty"></i>							
												<i class="icon-star-empty"></i>							
												<i class="icon-star-empty"></i>							
												<i class="icon-star-empty"></i>							
											</div>
											<div th:case="5">
	 											<i class="icon-star voted"></i>
	 											<i class="icon-star voted"></i>
	 											<i class="icon-star voted"></i>
	 											<i class="icon-star voted"></i>
	 											<i class="icon-star voted"></i>
											</div>
											<div th:case="*">
												<span th:each="i:${#numbers.sequence(0,tour.toScore-1)}">
 													<i class="icon-star voted"></i>
												</span>
												<span th:each="i:${#numbers.sequence(tour.toScore,4)}">
 													<i class="icon-star-empty"></i>
												</span>
											</div>
										</div>
									</div>
									<!-- end rating -->
									<div class="wishlist col-md-3" th:if="${loginUser != null}" style="top:40px; right:25px;">
										<a class="tooltip_flip tooltip-effect-1" id="tour-add-to-wishlist-btn" href="#" 
										th:data-toNo="${tour.toNo}" th:data-toName="${tour.toName}" th:data-toTime="${tour.toTime}"
										th:data-toPerson="${tour.toPerson}" th:data-toMeet="${tour.toMeet}" th:data-toPrice="${tour.toPrice}"
										th:data-toInfo="${tour.toInfo}" th:data-toNotice="${tour.toNotice}" th:data-toCount="${tour.toCount}"
										th:data-cityNo="${tour.city.cityNo}" th:data-cityName="${tour.city.cityName}"
										th:data-latitude="${tour.city.latitude}" th:data-longitude="${tour.city.longitude}">+
										<span class="tooltip-content-flip"><span class="tooltip-back">위시리스트<br>추가</span></span></a>
									</div>
									<!-- userId null 일 때는 위시리스트 추가 버튼 클릭 시 로그인 페이지로 -->
									<div class="wishlist " th:if="${loginUser == null}" style="top:40px; right:25px;">
										<a class="tooltip_flip tooltip-effect-1" th:href="@{user-login}">+
										<span class="tooltip-content-flip"><span class="tooltip-back">위시리스트<br>추가</span></span></a>
									</div>
									<!-- End wish list-->
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
						</div>
					<!-- End row -->
					<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
					
					<!--  pagination -->
					<nav aria-label="Page navigation">
						<ul class="pagination justify-content-center">
							<!-- 이전블록으로 이동 -->
							<li class="page-item" th:if="${tourListPage.pageMaker.prevGroupStartPage lt 0}">
								<a class="page-link" href="tour-list?pageNo=1"  aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item" th:if="${tourListPage.pageMaker.prevGroupStartPage gt 0}">
								<a class="page-link" th:href="@{tour-list(pageNo=${tourListPage.pageMaker.prevGroupStartPage})}" href="#"  aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<!-- 현재 위치 해 있는 페이지 & 블록 -->
							<th:block th:each="num : ${#numbers.sequence(tourListPage.pageMaker.blockBegin,tourListPage.pageMaker.blockEnd)}">
								<th:block th:if="${num le tourListPage.pageMaker.totPage}">	
									<li class="page-item" th:classappend="${tourListPage.pageMaker.curPage == num} ? 'active'">
										<a class="page-link" th:href="@{tour-list(pageNo=${num})}">
											<span th:text="${num}"></span>
										</a>
									</li>
								</th:block>
							</th:block>
							<!-- 다음블록으로 이동 -->
							<li class="page-item" th:if="${tourListPage.pageMaker.nextGroupStartPage gt tourListPage.pageMaker.totPage}">
								<a class="page-link" th:href="@{tour-list(pageNo=${tourListPage.pageMaker.totPage})}" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
							<li class="page-item" th:if="${tourListPage.pageMaker.nextGroupStartPage le tourListPage.pageMaker.totPage}">
								<a class="page-link" th:href="@{tour-list(pageNo=${tourListPage.pageMaker.nextGroupStartPage})}" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
					<!-- end pagination-->
					</div>
					<div class="col-md-4"></div>
					<!-- End row -->



				</div>
				<!-- End col lg 9 -->
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</main>
	<!-- End main -->
	<!--========================= footer ========================-->
	<footer class="revealed">
		<div id="footer" th:include="include-common-bottom::include-common-bottom"></div>
	</footer>
		<!-- End container -->
	<!--========================= End footer ========================-->

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	
	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a>
				<a href="#0" class="social_bt google">Login with Google</a>
				<div class="divider"><span>Or</span></div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" name="email" id="email">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" id="password" value="">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-left">
						<input id="remember-me" type="checkbox" name="check">
						<label for="remember-me">Remember Me</label>
					</div>
					<div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
				</div>
				<div class="text-center"><input type="submit" value="Log In" class="btn_login"></div>
				<div class="text-center">
					Don’t have an account? <a href="javascript:void(0);">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
						<i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
					<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /Sign In Popup -->
	
	<!-- ##################### template ###################### -->
	<!-- <script> 태그에 코드 적으면 화면에 안 보임 -->
<script id="tour-search-list-template" type="text/x-handlebars-template">
{{#each data.itemList}}
	<div class="col-md-4 wow zoomIn" data-wow-delay="0.1s">
		<div class="hotel_container">
			<div class="img_container">
				<a href="tour-detail?toNo={{toNo}}">
					<img src="img/tour/{{tourImgList.[0].toImgUrl}}" width="800" height="533" class="img-fluid" alt="Image"/>
					<div class="score" >
						<span>
							{{toCount}}
						</span>명이 구매했습니다.
					</div>
					<div class="short_info hotel" >
						<span>
							{{city.cityName}}
						</span>
						<span class="price">
							{{toPrice}}
						</span>
					</div>
				</a>
			</div>
			<div class="hotel_title row" >
			<div class="col-md-9" style="padding:1px 1px 1px 15px">
				<h3>
					<strong style="width:90%">
						{{toName}}
					</strong>
				</h3>
				<div class="rating" id="toScoreH" value={{toScore}}>
	 					{{#generateStarHtml toScore}}
						{{/generateStarHtml}}
				</div>
				</div>
				<!-- end rating -->
				{{#if loginUser}}
				<div class="wishlist col-md-3" style="top:40px; right:25px;">
					<a class="tooltip_flip tooltip-effect-1" id="tour-add-to-wishlist-btn" href="#" 
					data-toNo="{{toNo}}" data-toName="{{toName}}" data-toTime="{{toTime}}"
					data-toPerson="{{toPerson}}" data-toMeet="{{toMeet}}" data-toPrice="{{toPrice}}"
					data-toInfo="{{toInfo}}" data-toNotice="{{toNotice}}" data-toCount="{{toCount}}"
					data-cityNo="{{city.cityNo}}" data-cityName="{{city.cityName}}"
					data-latitude="{{city.latitude}}" data-longitude="{{city.longitude}}">+
					<span class="tooltip-content-flip"><span class="tooltip-back">위시리스트<br>추가</span></span></a>
				</div>
				{{/if}}
				{{#unless loginUser}}
				<div class="wishlist col-md-3"  style="top:40px; right:25px;">
					<a class="tooltip_flip tooltip-effect-1" id="tour-add-to-wishlist-btn" href="user-login">+
					<span class="tooltip-content-flip"><span class="tooltip-back">위시리스트<br>추가</span></span></a>
				</div>
				{{/unless}}
				<!-- End wish list-->
			</div>
		</div>
		<!-- End box tour -->
	</div>
	<!-- End col-md-6 -->
{{/each}}
</script>


	<!-- Common scripts -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/app_tour.js" type="module"></script>
	<script src="js/app.js" type="module"></script>

	<!-- Map -->
	<script src="js/map_hotels.js"></script>
	<script src="js/infobox.js"></script>

</body>

</html>