<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>마이리얼코리아-투어 예약</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,700" rel="stylesheet">

    <!-- COMMON CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">
	
	<!-- CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">

</head>

<body>


	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!--======================== Header========================== -->
	<div id="header" th:include="include-common-top::include-common-top"></div>
	<!--======================== End Header======================== -->

	<section id="hero_2">
		<div class="intro_title">
			<h1> 투어 예약하기 </h1>
			<div class="bs-wizard row">

				<div class="col-4 bs-wizard-step complete">
					<div class="text-center bs-wizard-stepnum">투어 상세보기</div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="cart_hotel.html" class="bs-wizard-dot"></a>
				</div>

				<div class="col-4 bs-wizard-step active">
					<div class="text-center bs-wizard-stepnum">투어 예약하기</div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="#" class="bs-wizard-dot"></a>
				</div>

				<div class="col-4 bs-wizard-step disabled">
					<div class="text-center bs-wizard-stepnum">투어 예약완료!!</div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="confirmation_hotel.html" class="bs-wizard-dot"></a>
				</div>

			</div>
			<!-- End bs-wizard -->
		</div>
		<!-- End intro-title -->
	</section>
	<!-- End Section hero_2 -->
	
	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><i class="icon-home" onclick="location.href='index'"></i><a href="index"></a>
                </li>
                <li><a href="tour-list">투어리스트</a>
                </li>
					<li><a th:href="@{tour-detail(toNo=${session.tour.toNo})}">상세보기</a>
					</li>
					<li>예약하기</li>
				</ul>
			</div>
		</div>
		<!-- End position -->
		<div class="container margin_60">
<form id="f" name="f" method="POST" class="was-validated" >
<input type="hidden" name="pPrice" id="pPrice" th:value="${session.payment.pPrice}">
<input type="hidden" name="pPoint" id="pPoint" th:value="${session.payment.pPoint}">
			<div class="row" >
				<div class="col-lg-8 add_bottom_15">
					<div  class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s" >
						<div class="row" >
							<div class="col-lg-4 col-md-4">
								<div  class="img_list">
									<a th:href="@{tour-detail(toNo=${session.tour.toNo})}">
										<img th:src="@{img/tour/{toImgUrl}(toImgUrl=${session.tour.tourImgList.get(0).toImgUrl})}" alt="Image">
									</a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="tour_list_desc">
									<div class="rating">
									</div>
									<div>
									<br>
									<br>
									<h3><strong  th:text="${session.tour.toName}"></strong> </h3>
									<br>
									</div>
									<ul class="add_info">
										<li>
											<div class="tooltip_styled tooltip-effect-4">
												<span class="tooltip-item"><i class="icon_set_1_icon-83"></i></span>
												<div class="tooltip-content">
													<h4>투어 안내사항</h4>
													<p th:text="${session.tour.toNotice}"> </p>
												</div>
											</div>
										</li>
										<li>
											<div class="tooltip_styled tooltip-effect-4">
												<span class="tooltip-item"><i class="icon_set_1_icon-41"></i></span>
												<div class="tooltip-content">
													<h4>만나는 장소</h4> 
													<p th:text="${session.tour.toMeet}"> </p>
													<br>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-2">
								<div class="price_list" id="wishlist-detail-btn">
									<div>
										<div><sup th:text="'&nbsp;&nbsp;'+${session.tour.toPrice}"></sup>
												<small>* 1인 기준</small>
										</div>
									</div>
							</div>
						</div>
					</div>
					</div>
					
					<div class="form_title">
						<h3><strong>1</strong>예약확인</h3>
						<p>
							예약자의 정보를 입력 해 주세요. 
						</p>
					</div>
					<div class="step">
						<div class="row">
							<div class="col-sm-8">
								<div class="form-group">
									<label> 성함 </label>
									<input type="text" class="form-control" name="rsPName" placeholder="이름을 입력해주세요" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label> 이메일 </label>
									<input type="email" id="email_booking" name="rsPEmail" class="form-control" placeholder="이메일을 입력해주세요" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label> 이메일 확인 </label>
									<input type="email" id="email_booking_2" name="email_booking_2" class="form-control"placeholder="이메일을 입력해주세요" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label> 전화번호 </label>
									<input type="text" id="telephone_booking" name="rsPPhone" class="form-control" placeholder="전화번호를 입력해주세요" required>
								</div>
							</div>
						</div>
					</div>
					
					<!--End step -->
					
					<div class="form_title">
						<h3><strong>2</strong> 요청사항 </h3>
					</div>
					<div class="step">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<textarea id="city_booking" name="pMsg" class="form-control" placeholder="요청사항을 작성 해 주세요(선택사항)"></textarea>
								</div>
							</div>
							<br>
							<br>
							<div class="col-lg-8">
								<div>
									<input id="usedPoint" type="number" style="width:40%" value="0" min="0" th:max="${session.loginUser.point}" step="1000">
									<input id="nowPoint" type="hidden" th:value="${session.loginUser.point}">
									<input id="totPrice" type="hidden" th:value="${session.payment.pPrice}">
									<button id="usePointBtn">사용</button>
									<span>&nbsp;&nbsp;사용 가능한 포인트 : </span>
									<span id="nowPoint2" th:text="${session.loginUser.point}"></span>
								</div>
									<span style="font-size:12px; color:#898484;">(포인트는 1000p 단위로 사용 가능합니다)</span>
							</div>
							<div class="col-lg-4" >
								<div class="form-group">
										<select class="form-control" name="pMethod"  id="pMethod" required>
											<option  value="" selected disabled>결제방법</option>
											<option value="1">계좌이체</option>
											<option value="2">카드결제</option>
										</select>
								</div>
							</div>
							</div>
						<!--End row -->
						<br>
						<br>
						<br>
						<div id="policy" style="padding:0px;">
						<h4>취소 및 환불 규정</h4>
						<div class="form-group">
							<label>
								<input type="checkbox" name="policy_terms" id="policy_terms" required>아래의 취소 및 환불 규정을 확인 후 동의하였습니다.
							</label>
						</div>
					</div>
					</div>
					<!--End step -->
		</div>
				<aside class="col-lg-4">
					<div class="box_style_1">
						<h3 class="inner">- 상세보기 -</h3>
						<table class="table table_summary">
							<tbody id="tableSummaryH">
								<tr>
									<td>여행 시작일</td>
									<td class="text-right" th:text="${#dates.format(session.payment.pStartDate,'yyyy-MM-dd')}"></td>
								</tr>
								<tr>
									<td>여행 종료</td> 
									<td class="text-right" text="출력안되어서 개짱남">출력안되어서 개짱남</td>
								</tr>
								<tr>
									<td>여행일수</td>
									<td class="text-right" th:text="${session.payment.tour.toTime}">1 double room</td>
								</tr>
								<tr>
									<td>여행타입</td>
									<td class="text-right" th:text="${session.payment.tour.toType}">2</td>
								</tr>
								<tr>
									<td>예약 인원 수 </td>
									<td class="text-right" th:text="${session.payment.pQty}">0</td>
								</tr>
								<tr>
									<td>금액</td>
									<td class="text-right" th:text="${session.payment.pPrice}"></td>
								</tr>
								<tr>
									<td>사용포인트</td>
									<td class="text-right" id="usingPoint2">0</td>
								</tr>
								<tr>
									<td></td>
									<td class="text-right"><p></p></td>
								</tr>
								<tr class="total">
									<td>총 금액</td>
									<td class="text-right" id="totPrice2" th:text="${session.payment.pPrice}">$154
									</td>
								</tr>
								<tr>
									<td>적립 포인트</td>
									<td class="text-right" id="savePoint2" th:text="${session.payment.pPoint}">0
									</td>
								</tr>
							</tbody>
						</table>
						
						<button class="btn_full" type="button" id="tourPayment" onclick="tourPaymentAction()">예약하기 </button>
						<a class="btn_full_outline" th:href="@{tour-detail(toNo=${session.tour.toNo})}"><i class="icon-right"></i> 투어상세보기</a>
					</div>
					<div class="box_style_2">
						<i class="icon_set_1_icon-57"></i>
						<br>
						<h6>도움이 필요하신가요?</h6>
						<a href="tel://004542344599" class="phone">+82 423 445 99</a>
						<small>월 ~ 금 9.00am - 7.30pm</small>
					</div>
				</aside>
			</div>
		</form>
			<!--End row -->
					
		</div>
		<!--End container -->
	</main>
	<!-- End main -->
	<!--========================= footer ========================-->
	<footer class="revealed">
		<div id="footer" th:include="include-common-bottom::include-common-bottom"></div>
	</footer>
		<!-- End container -->
	<!--========================= End footer ========================-->
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	

	<!-- Common scripts -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/app_tour.js" type="module"></script>
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
	
	<!-- Check box and radio style iCheck -->
	<script>
		$('input').iCheck({
		   checkboxClass: 'icheckbox_square-grey',
		   radioClass: 'iradio_square-grey'
		 });
	</script>
	<script type="text/javascript">
		function tourPaymentAction(e){
			let form=$('#f');
			let totPrice=100;
			let totPrice=document.getElementById('tableSummaryH').getElementsByTagName("td")[17];
			let totPrice2 = document.getElementById("totPrice2");

			alert(totPrice);
			alert(typeof totPrice);
			let pMethod=$('#pMethod option:selected').val();
			if(form.get(0).checkValidity()===false){
				form.find(':invalid').first().focus();
				e.preventDefault();
				e.stopPropagation();
			}else{
				if(pMethod==1){
					alert(pMethod);
					document.f.action='tour-payment-action';
					document.f.submit();
				}else if(pMethod==2){
					let IMP = window.IMP; // 생략 가능
					IMP.init("imp43548145"); // 예: imp00000000a
					/********* 자바스크립트에서 세션 값 가져오는거 먼저 해야 함!!  *****/ 
				    IMP.request_pay({
				      pg: "html5_inicis",
				      pay_method: 'card',
				      merchant_uid: 'MRK_'+new Date().getTime(),   // 주문번호 -> insert 전이라서 번호가 0번으로 생성됨,,, 개짱난다
				      name: "[[${session.tour.toName}]]",
				      //amount: "[[${{session.payment.pPrice}}]]",                         // 숫자 타입
				      amount: totPrice,                        // 숫자 타입
				      buyer_email: "[[${session.loginUser.email}]]",
				      buyer_name: "[[${session.loginUser.name}]]",
				      buyer_tel: "[[${session.loginUser.phone}]]",
				      buyer_addr: "[[${session.loginUser.address}]]"
				    }, function (rsp) { // callback
				    	console.log(rsp);
				      	if (rsp.success) {
				        // 결제 성공 시 로직
							document.f.action='tour-payment-action';
							document.f.submit();
				      	} else {
				        // 결제 실패 시 로직
				        	console.log(rsp);
				      	}
						});
				}
				
				
				}
			}
	</script>


</body>

</html>