<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
	<meta name="author" content="Ansonika">
	<title>동행게시판 새글쓰기</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,700" rel="stylesheet">
	
	<!-- COMMON CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">
	
	<!-- CSS -->
	<link href="css/blog.css" rel="stylesheet">
	
	<!-- CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">
	
	<!-- Handlebars -->
	<script  defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
	
	<title>Button</title>
    <style>
        #city_btn{
            border-radius: 5px;
            border: 2px solid #626262;
            background-color: rgba(0,0,0,0);
            color: #626262;
            font-weight: bold;
            font-size: 14px;
            padding: 9px;
            width: 90px;
        }
        #city_btn:hover{
            border-radius: 5px;
            border: 2px solid #626262;
            background-color: #626262;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 14px;
            padding: 9px;
            width: 90px;
        }
        #style_btn{
            border-radius: 5px;
            border: 2px solid #F089A4;
            background-color: rgba(0,0,0,0);
            color: #F089A4;
            font-weight: bold;
            font-size: 14px;
            padding: 7px;
            width: 80px;
        }
        #style_btn:hover{
            border-radius: 5px;
            border: 2px solid #F089A4;
            background-color: #F089A4;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 14px;
            padding: 7px;
            width: 80px;
        }
    </style>
    
</head>

<body>

	

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!--======================== Header========================== -->
	<div id="header" th:include="include-common-top::include-common-top"></div>
	<!--======================== End Header======================== -->


	<section class="parallax-window" data-parallax="scroll" data-image-src="img/tripboard/tripboard_big.png" data-natural-width="1400" data-natural-height="470">
		<div class="parallax-content-1">
			<div class="animated fadeInDown">
				<h1>동행게시판 글쓰기</h1>
				<p>동행을 찾기 위한 글을 써보아요</p>
			</div>
		</div>
	</section>
	<!-- End section -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><i class="icon-home" onclick="location.href='index'"></i><a href="index"></a>
				</li>
				<li><a href="tripboard-list">동행찾기</a>
				</li>
				<li>글쓰기</li>
				</ul>
			</div>
		</div>
		<!-- End position -->
		<div class="container margin_60">
			<div class="row">

				<div class="col-lg-9">
					<div class="box_style_1">
						<div class="post_info clearfix">
							<div class="post-left">
								<ul>
									<li>
									<h2>동행게시판 글쓰기</h2>
									</li>
								</ul>
							</div>
						</div>
						<form id="tripboardWriteForm" name="tripboardWriteForm" enctype="multipart/form-data">
							<input type="hidden" id="userId" th:value="${session.loginUser.userId}">
						<br>
						<div class="col text-center">
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
							  <label class="btn btn-secondary active">
							    <input type="radio" name="cOptions" id="option1" checked value="1"> 서울/경기
							  </label>
							  <label class="btn btn-secondary">
							    <input type="radio" name="cOptions" id="option2" value="2"> 부산/경상도
							  </label>
							  <label class="btn btn-secondary">
							    <input type="radio" name="cOptions" id="option3" value="3"> 강원도
							  </label>
							  <label class="btn btn-secondary">
							    <input type="radio" name="cOptions" id="option4" value="4"> 전라도
							  </label>
							  <label class="btn btn-secondary">
							    <input type="radio" name="cOptions" id="option5" value="5"> 충청도
							  </label>
							  <label class="btn btn-secondary">
							    <input type="radio" name="cOptions" id="option6" value="6"> 울릉도
							  </label>
							  <label class="btn btn-secondary">
							    <input type="radio" name="cOptions" id="option7" value="7"> 제주도
							  </label>
							</div>						
						</div>
						<br>
						<br>
						<div>
						<br>
						&emsp;&emsp;&emsp;<label><i class="icon-quote-left"> 저는</i></label>
						<br>
						<div class="col text-center">
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
							  <label class="btn btn-light active">
							    <input type="radio" name="sOoptions" id="option1" checked value="계획적인"> 계획적인
							  </label>
							  <label class="btn btn-light">
							    <input type="radio" name="sOoptions" id="option2" value="즉흥적인"> 즉흥적인
							  </label>
							  <label class="btn btn-light">
							    <input type="radio" name="sOoptions" id="option3" value="느긋한"> 느긋한
							  </label>
							  <label class="btn btn-light">
							    <input type="radio" name="sOoptions" id="option3" value="외향적인"> 외향적인
							  </label>
							  <label class="btn btn-light">
							    <input type="radio" name="sOoptions" id="option3" value="사진찍는"> 사진찍는
							  </label>
							  <label class="btn btn-light">
							    <input type="radio" name="sOoptions" id="option3" value="뚜벅이"> 뚜벅이
							  </label>
							</div>
						</div>
						<br>
							<div style="width: 100%; text-align: right;">
							  <label>여행자입니다. <i class="icon-quote-right"></i></label>&emsp;&emsp;&emsp;
							</div>
						</div>
						<br>
						<br>
							<div class="row">
								<div class="col-md-6" >
									<div class="form-group">
										<label><i class="icon-calendar-7"></i> 여행 시작일</label>
										<input class="start-date-pick form-control" data-date-format="yyyy-mm-dd" type="date" id="tBoStartDate" name="tBoStartDate" required="required">
										<div class="invalid-feedback">여행 시작일은 반드시 선택해야 합니다.</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label><i class="icon-calendar-7"></i> 여행 종료일</label>
										<input class="end-date-pick form-control" data-date-format="yyyy-mm-dd" type="date" id="tBoEndDate" name="tBoEndDate" required="required">
										<div class="invalid-feedback">여행 종료일은 반드시 선택해야 합니다.</div>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-2">
									<div class="form-group">
										<label><i class="icon-user-2"></i> 동행인원</label>
									</div>
								</div>
								<div class="col-2">
									<div class="form-group">
										<div class="numbers-row">
											<input type="text" value="1" name="tBoPerson" id="tBoPerson" class="qty2 form-control" min="1">
											<div class="invalid-feedback">동행인원은 최소 1명 이상이어야 합니다.</div>
										</div>
									</div>
								</div>
							</div>
							<br>
							<div class="was-validated">
								<label>제목</label>
								<input class="form-control style_2" type="text" name="tBoTitle" id="tBoTitle" placeholder="제목을 입력하세요." required>
								<div class="invalid-feedback">제목을 반드시 입력해야 합니다.</div>							
							</div>
							<br>
							<div class="was-validated">
								<label>내용</label>
								<textarea class="form-control style_2" name="tBoContent" id="tBoContent" style="height:150px;" placeholder="내용을 입력하세요." required></textarea>
								<div class="invalid-feedback">내용을 반드시 입력해야 합니다.</div>
							</div>
							<br>
							<div class="form-group">
								<label><i class="icon-tag"></i> 해시태그</label>
								<input class="form-control style_2" type="text" name="hashtag" id="hashtag" placeholder="해시태그를 입력하세요.">
							</div>
							<br>
							<label><i class=" icon-folder-open"></i> 파일업로드</label>
							<div class="form-inline upload_1 tripboard-upload">
								<div class="form-group">
									<input type="file" id="imageFile" name="imageFile" multiple=""/>
									<input type="hidden" id="tBoImg" th:value="${tBoImg}">
								</div>
							</div>
						</div>
						<!-- End box_style_1-->
						</form>
						<br>
						<br>
							<div class="form-group">
								<button type="submit" class="btn_1 green" id="tripboard-write-action">글쓰기</button>
								<a href="tripboard-list" class="btn_1 green">취소</a>
							</div>
					</div>
					<!-- End col-lg-9-->

					<aside class="col-lg-3 add_bottom_30">
						<div class="widget" id="cat_blog">
							<h4>CLICK</h4>
							<ul>
								<li><a href="tripboard-list">목록으로 돌아가기</a>
								</li>
							</ul>
						</div>
						<hr>
					
						<div class="widget tags">
							<h4>Tags</h4>
							<a href="ticket-list">티켓</a>
							<a href="tour-list">투어</a>
							<a href="freeboard-list">자유게시판</a>
							<a href="notice-list">공지사항</a>
							<a href="user-view">마이페이지</a>
						</div>
						<hr>
						<!-- End widget -->
						<br>
											<div class="box_style_2">
						<i class="icon_set_1_icon-57"></i>
						<br>
						<h6>도움이 필요하신가요?</h6>
						<a href="tel://004542344599" class="phone">+82 423 445 99</a>
						<small>월 ~ 금 9.00am - 7.30pm</small>
					</div>
					</aside>
					<!-- End aside -->

			</div>
			<!-- End row-->
		</div>
		<!-- End container -->
	</main>
	<!-- End main -->
	<!--========================= footer ========================-->
	<footer class="revealed">
		<div id="footer" th:include="include-common-bottom::include-common-bottom"></div>
	</footer>
		<!-- End container -->
	<!--========================= End footer ========================-->

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	
	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a>
				<a href="#0" class="social_bt google">Login with Google</a>
				<div class="divider"><span>Or</span></div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" name="email" id="email">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" id="password" value="">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-left">
						<input id="remember-me" type="checkbox" name="check">
						<label for="remember-me">Remember Me</label>
					</div>
					<div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
				</div>
				<div class="text-center"><input type="submit" value="Log In" class="btn_login"></div>
				<div class="text-center">
					Don’t have an account? <a href="javascript:void(0);">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
						<i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
					<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /Sign In Popup -->
	

	<!-- Common scripts -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/app_tripboard.js" type="module"></script>
	
	<!-- Date and time pickers -->
	<script src="js/jquery.sliderPro.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function ($) {
			$('#Img_carousel').sliderPro({
				width: 960,
				height: 500,
				fade: true,
				arrows: true,
				buttons: false,
				fullScreen: false,
				smallSize: 500,
				startSlide: 0,
				mediumSize: 1000,
				largeSize: 3000,
				thumbnailArrows: true,
				autoplay: false
			});
		});
	</script>

	<!-- Date and time pickers -->
	<script>
		$('input.date-pick').datepicker('setDate', 'today');
	</script>
	
	
	<!-- Date and time pickers -->
	<script src="js/jquery.sliderPro.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function ($) {
			$('#Img_carousel').sliderPro({
				width: 960,
				height: 500,
				fade: true,
				arrows: true,
				buttons: false,
				fullScreen: false,
				smallSize: 500,
				startSlide: 0,
				mediumSize: 1000,
				largeSize: 3000,
				thumbnailArrows: true,
				autoplay: false
			});
		});
	</script>

	<!-- Date and time pickers -->
	<script>
		$('input.date-pick').datepicker('setDate', 'today');
	</script>
	
</body>

</html>