<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>CITY TOURS - City tours and travel site template by Ansonika</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,700" rel="stylesheet">

    <!-- COMMON CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">
	
	<!-- CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">
	
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
function kakaopost() {
    new daum.Postcode({
        oncomplete: function(data) {
           document.querySelector("#address").value =  data.address
        }
    }).open();
}
</script>
        
</head>
<body>

    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

	<!--======================== Header========================== -->
	<div id="header" th:include="include-common-top::include-common-top"></div>
	<!--======================== End Header======================== -->    
    
	<main>
	<section id="hero" class="login">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
				
<div id="login">
	<div class="text-center">
		<img src="img/logo_myrealkorea_main2.png" alt="Image" data-retina="true" >
	</div>
	<hr>
<table>
	<form th:object="${user}" name="f" method="post">
		<table>

        <div class="form-group">
			<label>아이디</label>
			<input type="text" class=" form-control" id="userId" name="userId" placeholder="6 - 12글자의 영어 소문자와 숫자의 조합">
			<input type="button" class="btn btn-info" onclick="idCheck();" value="아이디 중복 확인">
        </div>
		<div class="form-group">
			<label>비밀번호</label>
			<input type="password" class="form-control" id="password1" placeholder="8 - 12글자의 영어, 숫자, 특수문자의 조합" name="password"
			onkeyup="validatePassword();">
			<span id="passwordMsg"></span>
		</div>
		<div class="form-group">
			<label>비밀번호 확인</label>
		    <input type="password" class=" form-control" id="password2" placeholder="Confirm password"  name="password2">
		</div>
		<div class="form-group">
			<label>이름</label>
		    <input type="text" class=" form-control" name="name" placeholder="Name">
		</div>
		<div class="form-group">
			<label>닉네임</label>
		    <input type="text" class=" form-control" name="nickname" placeholder="NickName">
		</div>
		<div class="form-group">
			<label>휴대폰 번호</label>
		    <input type="text" class=" form-control" name="phone" placeholder="Phone">
		</div>
		<div class="form-group">
			<label>이메일</label>
		    <input type="email" class=" form-control" name="email" placeholder="Email">
		</div>
		
		<div class="form-group">
			<label>생년월일</label>
		    <input type="text" class=" form-control" name="birth" placeholder="yyyy-MM-dd"> 
		</div>
		<div class="form-group">
			<label>주소</label>
		    <input type="text" class=" form-control" name="address" id="address">
		    <input type="button" class="btn btn-info" value="우편번호찾기" onclick="kakaopost()">
		</div>
		<div class="form-group">
			<label>성별</label><br/><br/>
		    <input type="radio" name="gender" value="1"> 남&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    <input type="radio" name="gender" value="2"> 여
		</div>
		</table>
	</form>
	<div id="pass-info" class="clearfix"></div>
		<tr>

		 	<input type="button" class="btn_full" value="회원 가입" onclick="userCreate();">
		</tr>
</table>

</div>
				</div>
			</div>
		</div>
	</section>
	</main>
	<!-- End main -->
	<!--========================= footer ========================-->
	<footer class="revealed">
		<div id="footer" th:include="include-common-bottom::include-common-bottom"></div>
	</footer>
		<!-- End container -->
	<!--========================= End footer ========================-->

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	
	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a>
				<a href="#0" class="social_bt google">Login with Google</a>
				<div class="divider"><span>Or</span></div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" name="email" id="email">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" id="password" value="">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-left">
						<input id="remember-me" type="checkbox" name="check">
						<label for="remember-me">Remember Me</label>
					</div>
					<div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
				</div>
				<div class="text-center"><input type="submit" value="Log In" class="btn_login"></div>
				<div class="text-center">
					Don’t have an account? <a href="javascript:void(0);">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
						<i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
					<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /Sign In Popup -->

	<!-- Common scripts -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>

	<!-- Specific scripts -->
	<script src="js/pw_strenght.js"></script>
	
<script>



//비밀번호 유효성 검사
function validatePassword() {
	const password = document.getElementById("password1").value;
	const passwordMsg = document.getElementById("passwordMsg");

	if (/([^a-zA-Z0-9~!@#$%^&*()_+,.?])/.test(password)) {
		const invalidChar = password.match(/([^a-zA-Z0-9~!@#$%^&*()_+,.?])/)[1];
		passwordMsg.textContent = "허용되지 않는 문자 " + invalidChar + " 가 포함되어 있습니다.";
		passwordMsg.style.color = "red";
		return false;
	} else if (/(.)\1\1/.test(password)) {
		passwordMsg.textContent =
		"같은 문자를 연속으로 3개 이상 사용할 수 없습니다.";
		passwordMsg.style.color = "red";
		return false;
	} else if (password.length < 8 || password.length > 12) {
		passwordMsg.textContent =
		"비밀번호는 8글자 이상 12글자 이하여야 합니다.";
		passwordMsg.style.color = "red";
		return false;
	} else if (!/^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[~!@#$%^&*()_+,.?])/.test(password)) {
		passwordMsg.textContent =
		"비밀번호는 영어, 숫자, 특수문자를 모두 포함해야 합니다.";
		passwordMsg.style.color = "red";
		return false;
	} else {
		passwordMsg.textContent = "";
		return true;
	}
}

//아이디 중복검사 후 true 반환
let isIdChecked = false;

//아이디 유효성 검사, 중복 체크
function idCheck() {
	const idValidate = /^[a-z][-_.a-z0-9]{5,11}$/g;
	const userId = $('#userId').val().trim();

	if (!idValidate.test(userId)) {
		alert('사용 불가능한 아이디 형식입니다.');
		return $('#userId').val('');
	}
	if (userId === '') {
		alert('아이디를 입력해주세요.');
		return;
	}

		$.ajax({
			url: './idCheck',
			type: 'post',
    	    data: { userId: userId },
    	    success: function(cnt) {
				if (cnt == 0) {
					alert('사용 가능한 아이디입니다.');
					isIdChecked = true;
				} else {
					alert('이미 사용중인 아이디입니다.');
					$('#userId').val('');
				}
			},
			error: function() {
				alert('에러입니다.');
    	    }
		});
};
    	
    	
function userCreate() {
	  var user = {};
	  user.userId = $("#userId").val();
	  user.password = $("#password1").val();
	  user.password2 = $("#password2").val();
	  user.name = $("input[name=name]").val();
	  user.nickname = $("input[name=nickname]").val();
	  user.phone = $("input[name=phone]").val();
	  user.email = $("input[name=email]").val();
	  user.birth = $("input[name=birth]").val();
	  user.address = $("input[name=address]").val();
	  user.gender = $("input[name=gender]:checked").val();

	if (user.userId === "") {
	    alert("사용자 아이디를 입력하세요.");
	    $("#userId").focus();
	    return false;
	}
	if (!isIdChecked) {
	    alert("아이디 중복 확인 버튼을 클릭해주세요.");
	    return false;
	}
	if (user.password !== user.password2) {
		alert("비밀번호와 비밀번호 확인은 일치해야 합니다.");
	    $("#password1").focus().select();
	    return false;
	}
	if (!validatePassword()) {
		return false;
	}
	if (user.name === "") {
	    alert("이름을 입력하세요.");
	    $("input[name=name]").focus();
	    return false;
	}
	if (user.nickname === "") {
	    alert("닉네임을 입력하세요.");
	    $("input[name=nickname]").focus();
	    return false;
	}
	if (user.phone === "") {
		alert("휴대폰 번호를 입력하세요.");
	    $("input[name=phone]").focus();
		return false;
	}
	if (user.email === "") {
		alert("이메일 주소를 입력하세요.");
	    $("input[name=email]").focus();
		return false;
	}
	if (user.birth === "") {
		alert("생년월일을 입력하세요.");
	    $("input[name=birth]").focus();
		return false;
	}
	if (user.address === "") {
		alert("주소를 입력하세요.");
	    $("input[name=address]").focus();
		return false;
	}
	if (user.gender === "") {
		alert("성별을 선택하세요.");
	    $("input[name=gender]").focus();
		return false;
	}
	$.ajax({
	    type: "POST",
	    url: "./user-write-action",
	    data: JSON.stringify(user),
	    dataType: "json",
	    contentType: "application/json;charset=UTF-8",
	    success: function (data) {
	        if (data.status == 0) {
	            alert(data.message);
	            window.location.href = "./index";
	        } else {
	            alert(data.message);
	        }
	    },
	    error: function (xhr, status, error) {
	        console.error(error);
	        alert("회원가입에 실패했습니다.");
	    }
	}); 	
};

</script>
  </body>
</html>