<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>CITY TOURS - City tours and travel site template by Ansonika</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,700" rel="stylesheet">

    <!-- COMMON CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">
	
	<!-- CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">
 
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
	
// 사용하려는 앱의 JavaScript 키 입력
Kakao.init('033833936fe6b95d5d87c91cde329685');
function kakaoLogin() {
	Kakao.Auth.login({
		success : function(response) {
			Kakao.API.request({ // 사용자 정보 가져오기 
				url : '/v2/user/me',
				success : function(response) {
					console.log(response);
					console.log(response.id);
					// ID중복체크를 통해 회원가입 유무를 결정한다.
					// 존재하는 경우 로그인 처리
					let kakaoId = response.id
					// 회원가입
					alert(kakaoId);
					$('#kakao-login-btn').hide();
					$('#kakao-logout-btn').show();
					
				}
			});
		},
		fail : function(error) {
			alert(error);
		}
	});
}
function kakaoLogout() {
	//location.href = 'https://kauth.kakao.com/oauth/logout?client_id=d2863dba7035b2676678c151834a9978&logout_redirect_uri=http://localhost:80/practice_user_01/index';
	location.href = 'https://kauth.kakao.com/oauth/logout?client_id=d2863dba7035b2676678c151834a9978&logout_redirect_uri=http://localhost/practice_user_01/index';
}
		
</script>

</head>
<body>

    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

	<!--======================== Header========================== -->
	<div id="header" th:include="include-common-top::include-common-top"></div>
	<!--======================== End Header======================== -->
    
	<main>
    <section id="hero" class="login">
    	<div class="container">
        	<div class="row justify-content-center" >
            	<div class="col-xl-4 col-lg-5 col-md-6 col-sm-8" >
 
 
<!-- 로그인 폼 시작 -->            	
<div id="login">
<form id="user-login" th:object="${fuser!=null? fuser : new com.itwill.my_real_korea.dto.user.User()}" name="f" method="post">
<input type="hidden" name="prevPage" value="${prevPage}">
	<a href="https://kauth.kakao.com/oauth/authorize?client_id=d2863dba7035b2676678c151834a9978&redirect_uri=http://localhost:80/practice_user_01/kakao_login_action&response_type=code">
		<img src="img/kakao_login_medium_wide.png" />
	</a>
	<div class="divider"><span>Or</span></div>
    <div class="form-group">
        <label>ID</label>
        <input type="text" class=" form-control " placeholder="Username" name="userId">
        <font color="red" th:text="${msg1}"></font>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class=" form-control" placeholder="Password" name="password">
        <font color="red" th:text="${msg2}"></font>
    </div>
		<p class="small">
		    <a href="user-find" id="menu-user-find">아이디 / 비밀번호 찾기</a>
		</p>
	<a class="btn_full" id="login_btn" onclick="login();">로그인</a>
	<a class="btn_full_outline" onclick="userCreate();">회원 가입</a>
</form><br/>
</div>
<!-- 로그인 폼 끝 -->
<!-- 
 
 -->
<script id="user-find-template" type="text/x-handlebars-template">

<!-- 아이디 찾기 폼 시작 -->
<form name="d" method="post">
    <div class="form-group">
        <label>이름</label>
        <input type="text" class="form-control" placeholder="Username" name="name" id="name">
    </div>
    <div class="form-group">
        <label>이메일</label>
        <input type="text" class="form-control" placeholder="Email" name="email" id="email">
    </div>
    <a class="btn_full_outline" onclick="findId();">아이디 찾기</a><br/>
</form>
<!-- 아이디 찾기 폼 끝 -->

<div class="divider"><span>Or</span></div>

<!-- 비밀번호 찾기 폼 시작 -->
<form name="p" method="post">
    <div class="form-group">
        <label>ID</label>
        <input type="text" class=" form-control " placeholder="ID" name="userId">
    </div>
    <div class="form-group">
        <label>이메일</label>
        <input type="text" class=" form-control" placeholder="Email" name="email">
    </div>
	<a class="btn_full_outline" onclick="findPassword();">비밀번호 찾기</a>
</form>
<!-- 비밀번호 찾기 폼 끝 -->

</script>
<script id="user-auth-template" type="text/x-handlebars-template">
	<div class="text-center"><img src="img/logo_sticky.png" alt="Image" data-retina="true" ></div>
<br/>
	<hr>
<br/><br/>
	<form name="a" method="post">
	    <div class="form-group">
			<label>인증코드</label>
	        <input type="text" class="form-control" name="mailAuthKey">
	    </div>
<br/><br/>
		<input type="button" class="btn_full" value="인증 확인" onclick="submitAuthCode();">
	</form><br/>
</script>

                        
                </div>
            </div>
        </div>
    </section>
    
    
	</main><!-- End main -->
	<!--========================= footer ========================-->
	<footer class="revealed">
		<div id="footer" th:include="include-common-bottom::include-common-bottom"></div>
	</footer>
		<!-- End container -->
	<!--========================= End footer ========================-->

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	
	

	<!-- Common scripts -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/app_user.js" type="module"></script>

<script type="text/javascript">

//회원 가입 폼
function userCreate() {
	location.href="user-write";
}

//로그인 액션
function login() {
  if (document.f.userId.value == "") {
    alert("아이디를 입력하십시오.");
    document.f.userId.focus();
    return false;
  }
  if (document.f.password.value == "") {
    alert("비밀번호를 입력하십시오.");
    document.f.password.focus();
    return false;
  }

	  $.ajax({
	    url: 'user-login',
	    type: 'POST',
	    data: JSON.stringify({
	      userId: document.f.userId.value,
	      password: document.f.password.value
	    }),
        contentType: 'application/json;charset=UTF-8',
        success: function (data) {
            if (data.status == 0) {
                window.location.replace(data.data); // 이전 페이지로 이동
            } else {
                alert(data.message);
            }
        },
        error: function (error) {
            console.error(error);
            alert('로그인에 실패했습니다.');
        }
    });
}

//아이디 찾기 액션
function findId() {
	
    //var name = document.i.name.value;
    //var email = document.i.email.value;
    
    var name = $('#name').val();
    var email = $('#email').val();
    
    
    if (name == "") {
        alert("이름을 입력하세요.");
        document.i.name.focus();
        return false;
    }
    if (email == "") {
        alert("이메일을 입력하세요.");
        document.i.email.focus();
        return false;
    }

    $.ajax({
        type: "POST",
        url: "./user-find-id-action",
        dataType: "json",
        data: {
            name: name,
            email: email
        },
        success: function(response) {
            if (response.status == 1) {
                alert(response.message);
            } else if (response.status == 2) {
                alert(response.message);
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
        }
    });
}

//비밀번호 찾기 액션
function findPassword() {
	if (document.p.userId.value == "") {
		alert("아이디를 입력하십시오.");
		document.p.name.focus();
		return false;
	}
	if (document.p.email.value == "") {
		alert("이메일을 입력하십시오.");
		document.p.email.focus();
		return false;
	}

	document.p.action = "user-find-pw-action";
	document.p.submit();
}

//이메일 인증 액션	
function submitAuthCode() {
	document.a.action = "user-auth-action";
	document.method='POST';
	document.a.submit();
}

</script>	

  </body>
</html>