<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.my_real_korea.mapper.TicketReserveMapper">
    <resultMap id="ticketReserveMap" type="com.itwill.my_real_korea.dto.ticket.TicketReserve" autoMapping="true">
        <association property="ticket" javaType="com.itwill.my_real_korea.dto.ticket.Ticket" autoMapping="true">
        </association>
    </resultMap>
    <!--티켓 예약 생성 -->
    <insert id="insertTicketReserve" parameterType="com.itwill.my_real_korea.dto.ticket.TicketReserve">
        <selectKey resultType="java.lang.Integer" keyProperty="tiRsNo" order="BEFORE">
            SELECT TICKET_RESERVE_TI_RS_NO_SEQ.NEXTVAL FROM DUAL
        </selectKey>
            INSERT INTO TICKET_RESERVE (TI_RS_NO,TI_RS_DATE,TI_RS_QTY,TI_RS_MSG,TI_NO,USER_ID)
            VALUES(#{tiRsNo},#{tiRsDate},#{tiRsQty},#{tiRsMsg},#{ticket.tiNo},#{userId})
    </insert>
    <!--내 예약 조회 -->
    <select id="selectByTicketReserveUser" parameterType="java.lang.String" resultMap="ticketReserveMap">
            SELECT TI_RS_NO, TI_RS_DATE, TI_RS_QTY, TI_RS_MSG, USER_ID, TR.TI_NO,
                   TI_TITLE, TI_DATE, TI_PRICE, TI_INFO, TI_NOTICE, TI_COUNT, CITY_NO
            FROM TICKET_RESERVE TR
                     JOIN TICKET T
                          ON TR.TI_NO = T.TI_NO
            WHERE TR.USER_ID=#{userId}
    </select>
        <!--예약 상세 보기 -->
    <select id="selectByTicketReserveNo" parameterType="java.lang.Integer" resultMap="ticketReserveMap">
            SELECT TI_RS_NO, TI_RS_DATE, TI_RS_QTY, TI_RS_MSG, USER_ID, TR.TI_NO,
                     TI_TITLE, TI_DATE, TI_PRICE, TI_INFO, TI_NOTICE, TI_COUNT, CITY_NO
            FROM TICKET_RESERVE TR
                    JOIN TICKET T
                        ON TR.TI_NO = T.TI_NO
            WHERE TI_RS_NO=#{tiRsNo}
    </select>
    <!--예약 삭제 -->
    <delete id="deleteTicketReserve" parameterType="java.lang.Integer">
            DELETE FROM TICKET_RESERVE WHERE TI_RS_NO = #{tiRsNo}
    </delete>

    <!-- 예약 번호로 조회 + 내 예약  조회?
    <select id="selectTicketReserveTest" parameterType="java.lang.Integer" resultMap="ticketReserveMap">
        SELECT TI_RS_NO, TI_RS_DATE, TI_RS_QTY, TI_RS_MSG, USER_ID, TR.TI_NO,
        TI_TITLE, TI_DATE, TI_PRICE, TI_INFO, TI_NOTICE, TI_COUNT, CITY_NO
        FROM TICKET_RESERVE TR
        JOIN TICKET T
        ON TR.TI_NO = T.TI_NO
        WHERE 1=1
        <if test="tiRsNo != 0">
            AND TI_RS_NO=#{tiRsNo}
        </if>
        <if test="userId != null">
            AND USER_ID=#{userId}
        </if>
    </select>-->
<!--완료-->

</mapper>