<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.my_real_korea.mapper.UserImgMapper">

	<!-- 1. 회원 이미지 등록 -->
	<insert id="createUserImg" parameterType="com.itwill.my_real_korea.dto.user.UserImg">
		<selectKey resultType="java.lang.Integer" keyProperty="userImgNo" order="BEFORE">
	    SELECT user_img_user_img_no_seq.nextval FROM dual
		</selectKey>
		INSERT into user_img(user_img_no, user_img_url, user_id) 
		VALUES (#{userImgNo}, #{userImgUrl}, #{userId})
	</insert>
	<!-- 2. 회원 이미지 찾기 -->
	<select id="findUserImg" parameterType="java.lang.String" resultType="com.itwill.my_real_korea.dto.user.UserImg">
		SELECT user_img_no, user_img_url, user_id 
		FROM user_img 
		WHERE user_id = #{userId}
	</select>
	<!-- 3. 회원 이미지 수정 -->
	<update id="updateUserImg" parameterType="com.itwill.my_real_korea.dto.user.UserImg">
		UPDATE  user_img 
		SET user_img_url = #{userImgUrl}
		WHERE user_id = #{userId}
	</update>
	<!-- 4. 회원 이미지 삭제 -->
	<delete id="removeUserImg" parameterType="java.lang.Integer">
		DELETE user_img 
		WHERE user_img_no = #{userImgNo}
	</delete>

	
</mapper>