<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.my_real_korea.mapper.CityMapper">
	<!-- 1. 시티 새로 추가 -->
	<insert id="insertCity" parameterType="com.itwill.my_real_korea.dto.City">
		<selectKey resultType="java.lang.Integer" keyProperty="cityNo" order="BEFORE">
			select city_city_no_seq.nextval from dual
		</selectKey>
		insert into city(city_no,city_name,latitude,longitude) values(#{cityNo},#{cityName},#{latitude},#{longtitude})
	</insert>
	<!-- 2. 시티번호로 시티 찾기 -->
	<select id="selectByCityNo" parameterType="java.lang.Integer" resultType="com.itwill.my_real_korea.dto.City">
		select * from city where city_no=#{cityNo}
	</select>
	<!-- 3. 시티 리스트 전체 출력 -->
	<select id="selectAllCity" resultType="com.itwill.my_real_korea.dto.City">
		select * from city
	</select>
</mapper>