<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.my_real_korea.mapper.UserImgMapper">
<!--  
	<insert id="createUserImg" parameterType="com.itwill.my_real_korea.dto.user.UserImg">
		insert into user_img(user_img_no, user_img_url, user_id) 
		values(#{userImgNo},#{userImgUrl},#{userId})
	</insert>
-->	
	<insert id="createUserImg" parameterType="com.itwill.my_real_korea.dto.user.UserImg">
  <!-- user_img_no 컬럼 값을 sequence로 생성 -->
  <selectKey resultType="java.lang.Long" keyProperty="userImgNo" order="BEFORE">
    SELECT user_img_user_img_no_seq.nextval FROM dual
  </selectKey>
  insert into user_img(user_img_no, user_img_url, user_id) 
  values (#{user_img_user_img_no_seq.nextval}, #{userImgUrl}, #{userId})
</insert>
	<update id="updateUserImg" parameterType="com.itwill.my_real_korea.dto.user.UserImg">
		update  user_img 
		set user_img_url = #{userImgUrl}
		where user_img_no = #{userImgNo}
	</update>
	<delete id="removeUserImg" parameterType="java.lang.Integer">
		delete user_img 
		where user_img_no = #{userImgNo}
	</delete>
	<select id="findUserImg" parameterType="java.lang.String" resultType="com.itwill.my_real_korea.dto.user.UserImg">
		select user_img_no, user_img_url, user_id 
		from user_img 
		where user_id = #{userId}
	</select>
	
</mapper>